<!DOCTYPE html>
<html>
<head>
    <title>积分产生规则设置</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>

    <style type="text/css">
        body {  padding-bottom: 40px;  }
        .sidebar-nav {  padding: 9px 0;  }
        @media (max-width: 980px) {  .navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  }  }


    </style>
    
</head>
<body>
<div class="dv">
<form class="form-inline definewidth m20"  method="get">
	<div class="control-group">
        <input type="text" name="panterid" class="abc input-default" placeholder="活动编号" value="{$panterid}">&nbsp;&nbsp;
        <input type="text" name="pname" class="abc input-default" placeholder="活动名称" value="{$pname}">&nbsp;&nbsp;
        <button type="submit" class="btn btn-mini btn-primary">查询</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-mini btn-info" id="addnew" onclick="window.location.href='__URL__/rulesAdd';">新增商户规则</button>
    </div>
	
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>商户编号</th><th>商户名称</th>
        <th>起始时间</th><th>截止时间</th><th>卡消费通用积分比率（%）</th>
        <th>现金消费通用积分比率（%）</th><th>编辑</th>
    </tr>
    </thead>
    <volist name="list" id="vo">
             <tr>
                <td>{$vo.panterid}</td><td>{$vo.pname}</td>
                <td><?php echo date('Y-m-d',strtotime($vo['bdate']));?></td>
                 <td><?php echo date('Y-m-d',strtotime($vo['edate']));?></td>
                 <td>{$vo.roles}</td>
                <td>{$vo.roles1}</td>
                 <td><button type="button" class="btn btn-mini btn-primary" onclick="window.location='__URL__/rulesEdit/panterid/{$vo.panterid}'">编辑</button></td>
            </tr>
        </volist>
        </table>
        <div class="inline pull-right page">{$page}</div>
    </div>
		</body>
		</html>
