<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <style type="text/css">
        body {  padding-bottom: 40px;  }
        .sidebar-nav {  padding: 9px 0;  }
        @media (max-width: 980px) {  .navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  }  }
    </style>
</head>
<body>
<div  class="dv">
<form class="form-inline definewidth m20"  method="get">
	<div class="control-group">
        <input type="text" name="customid" class="abc input-default" placeholder="会员编号"
               value="">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-mini btn-primary">查询</button>&nbsp;&nbsp;
    </div>
</form>

<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>会员编号</th>
        <th>会员名称</th>
        <th>联系方式</th>
        <th>证件号码</th>
        <th>常驻地址</th>
        <th>所属商户</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>

             <tr>
                 <td>{$list['customid']}</td>
                 <td>{$list['namechinese']}</td>
                 <td>{$list['linktel']}</td>
                 <td>{$list['personid']}</td>
                 <td>{$list['residaddress']}</td>
                 <td>{$list['pname']}</td>
                 <td>{$list['placeddate']}</td>
                 <td> <button type="button" class="btn btn-mini btn-primary" onclick="window.location='__URL__/edit_customs/customid/{$list.customid}'">编辑</button></td>
            </tr>

        </table>

    </div>
<script type="text/javascript">
function del(customid){
    var confirm=window.confirm('删除后将不可恢复，确定删除？');
    if(confirm==true){
        window.location='__URL__/del/customid/'+customid;
    }
}
</script>
		</body>
		</html>
    <script>
      $(function(){
      if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
          $('[placeholder]').focus(function() {
              var input = $(this);
              if (input.val() == input.attr('placeholder')) {
                  input.val('');
                  input.removeClass('placeholder');
              }
          }).blur(function() {
              var input = $(this);
              if (input.val() == '' || input.val() == input.attr('placeholder')) {
                  input.addClass('placeholder');
                  input.val(input.attr('placeholder'));
              }
          }).blur();
      };
      })
      function placeholderSupport() {
          return 'placeholder' in document.createElement('input');
      }
      </script>
