<!doctype html>
<html>
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
<link rel="stylesheet" type="text/css" href="tb.css">
<title>建业通宝用户说明</title>
</head>

<body style=" background:#fafafa;">
	<div style=" font-size:1.2rem; font-weight:600; text-align:center; line-height:3.6rem;">建业通宝用户说明</div>
    <div style=" padding:0 5%;">
    <span style=" font-weight:600; font-size:0.875rem;">适用范围</span>
    <p style=" font-size:0.875rem; color:#666; line-height:1.3rem; margin-top:5px;">
        1、建业通宝是建业集团推出的内部积分,自2019年1月1日起，建业地产在售发行通宝项目中通宝的赠送标准为：赠送金额为实际签订合同金额/协议的0.4%，可兑换建业集团旗下教育、足球、酒店、商业、文化旅游、绿色基地、嵩云科技（ “一家APP”平台的外部商家不可使用）等各产业板块同等价值的商品和服务，不可用于购置房产（含车位、储藏室等）、物业费支付。</br>
        2、建业通宝可直接用于一家APP平台订单以及具有建业通宝标识的线下场所使用（部分不支持通宝支付的商品和服务除外）。</br>
        3、建业通宝不得转让,不兑换现金,兑换时不开具发票。</br>
        4、通宝查询: 您可以在"我-我的钱包-通宝"查询到您的通宝详细情况。</br>
        5、建业通宝与一家APP平台个人账号绑定,如账号遗失、需要冻结,请致电客户服务热线0371-9617777。</br>
    </p>
    </div>
    <div style=" padding:0 5%;">
        <span style=" font-weight:600; font-size:0.875rem;">有效期说明</span>
        <p style=" font-size:0.875rem; color:#666; line-height:1.3rem; margin-top:5px;">
            1、建业通宝自启动之日起只对符合赠送标准的客户赠送,不再向前追溯。</br>
            2、用户购买建业房产获赠的通宝为实体卡需要进行激活，如获赠的通宝为电子卡，则无需激活；所有通宝从激活之日起均为两年有效期。通过一家APP时获赠（注册、消费、实名）的通宝如未在10个工作日内实名认证,通宝将失效；实名成功有效期变为两年。（由购买房产获赠的建业通宝不受一家APP实名认证限制）。</br>
            3、使用通宝支付的商品发生退货时,如通宝退回时已过有效期,则直接进行作废处理,不再返回。</br>
        </p>
    </div>
    <div style=" padding:0 5% 5%;">
        <span style=" font-weight:600; font-size:0.875rem;">下单时使用</span>
        <p style=" font-size:0.875rem; color:#666; line-height:1.3rem; margin-top:5px;">
            1、建业通宝可兑换价值壹元的商品或服务,订单可组合支付。</br>
            2、为保证您的资金安全,建业通宝支付功能仅限实名认证用户使用,未完成实名认证的用户请在【我-个人信息-实名认证】页面完成实名后使用该功能。</br>
            具体消费场景及其他线下消费商家请查看【建业至尊一卡通】-【帮助中心】-【全部消费场景】或点击此链接 <span onclick="location.href='http://t.cn/EVT6VXB'">http://t.cn/EVT6VXB</span>
        </p>
    </div>

</body>
</html>
