<!doctype html>
<html>
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/JyCoin/css/tb.css">
<script type="text/javascript" src="__PUBLIC__/Home/JyCoin/js/jquery-1.12.1.js"></script>
<script>

$(function(){

	$('.mx').on("click", function() {
			$(this).css({"color":"#bb803a","border-bottom":"2px solid #bb803a"}).siblings().css({"color":"","border-bottom":""})
		})	

	$("#fx").click(function(){
		$(".center").show();
		$(".center_2").hide();
	});
	
	$("#jy").click(function(){
		$(".center_2").show();
		$(".center").hide();
	});

})





</script>
<title>通宝明细</title>
</head>

<body>
	<div class="top">
    	<span class="mx" id="fx">通宝发行明细</span>
        <span class="mx" id="jy">通宝交易明细</span>
    </div>
    
    <div class="center">

        <if condition="empty($list) eq true">
            <div>暂无通宝发行记录</div>
            <else />
            <foreach  name="list" item="val">
                <ul>
                    <li><span style="float:left;">发行方</span><span style=" float:right; text-align:right;">{$val.namechinese}</span></li>
                    <li><span style="float:left;">发行金额</span><span style=" float:right; text-align:right;">{$val.rechargeamount}</span></li>
                    <li><span style="float:left;">通宝余额</span><span style=" float:right; text-align:right;">{$val.remindamount}</span></li>
                    <li><span style="float:left;">发行时间</span><span style=" float:right; text-align:right;">{$val.placeddate}</span></li>
                    <li><span style="float:left;">到期时间</span><span style=" float:right; text-align:right;">{$val.enddate}</span></li>
                </ul>
            </foreach>

        </if>
        </if>
    </div>
    
    
     <div class="center_2" style=" display:none;">
         <if condition="empty($consume) eq true">
             <div>暂无通宝消费记录</div>
             <else />
             <foreach  name="consume" item="cv">
                 <ul>
                     <li><span style="float:left;">订单号</span><span style=" float:right; text-align:right;">{$cv.tradeid}</span></li>
                     <li><span style="float:left;">受理商户</span><span style=" float:right; text-align:right;">{$cv.cname}</span></li>
                     <li><span style="float:left;">发行方</span><span style=" float:right; text-align:right;">{$cv.pname}</span></li>
                     <li><span style="float:left;">交易时间</span><span style=" float:right; text-align:right;">{$cv.placeddate} {$cv.placedtime}</span></li>
                     <li><span style="float:left;">扣款金额</span><span style=" float:right; text-align:right;">{$cv.amount}</span></li>
                     <li><span style="float:left;">备注</span><span style=" float:right; text-align:right;">{$cv.description}</span></li>
                 </ul>
             </foreach>

         </if>
        
    </div>



</body>
</html>
