<!DOCTYPE html>
<html>
<head>
    <title>充值报表</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>

    <style type="text/css">
        body {padding-bottom: 40px;}
        .sidebar-nav {padding: 9px 0;}
        @media (max-width: 980px) {.navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  } }
    </style>
</head>
<body>
<script type="text/javascript">
    $(function(){
        $('#startdate').datepicker();
        $('#enddate').datepicker();
        $("#ui-datepicker-div").hide();
    })
</script>
<div  class="dv">
<form class="form-inline definewidth m20" action="{:U("Finance/recharge")}" method="get">
    充值日期:
    <input type="text" name="startdate" id="startdate" class="abc input-default" value="{$startdate}" style="width:100px;"/>---<input type="text" name="enddate" id="enddate" class="abc input-default" value="{$enddate}" style="width:100px; margin-right:5px;"/><!--<input type="text" name="panterid" id='panterid' value='{$panterid}' style="width:140px; margin-right:10px;" placeholder="机构编号"/>-->
<if condition="$is_admin eq 1">
<input type="text" name="pname" id='pname' value='{$pname}' style="width:110px; margin-right:7px;" placeholder="机构名称"/>
</if>
<input type="text" name="cardno" id='cardno' value='{$cardno}' style="width:165px; margin-right:7px;" placeholder="卡号"/>
<input type="text" name="purchaseid" id='purchaseid' value='{$purchaseid}' style="width:143px; margin-right:7px;" placeholder="充值流水号"/>
	<input type="text" name="customid" id='customid' value='{$customid}' style="width:80px; margin-right:7px;" placeholder="会员编号"/>
	<input type="text" name="cname" id='cname' value='{$cname}' style="width:70px; margin-right:7px;" placeholder="会员名称"/>
	<input type="text" name="username" id='username' value='{$username}' style="width:70px; margin-right:7px;" placeholder="操作员"/>
    <select name="status" style="width:70px; margin-right:10px;">
			<option value="" selected>卡状态</option>
        <foreach name="statype" item="vo"><option value="{$key}"<if condition="($key eq $status)"> selected</if>>{$vo}</option></foreach>
		</select><button type="submit" class="btn btn-mini btn-primary">查询</button> <input type="button" value="重置" onclick="window.location='{:U(Finance/recharge)}'" class="btn btn-mini btn-danger" /> <a href="{:U("Finance/recharge_excel")}" class="btn btn-mini" target="_blank"><!-- <img style="margin-top:3px;" src="__PUBLIC__/assets/img/excel.png" width="26" title="导出EXCEL" /> --><i class="Hui-iconfont">&#xe640;</i>导出EXCEL</a>
		<br />金额区间：
		<select name="s_e_price">
			<option value="0">请选择</option>
			<option value="1" <eq name="s_e_price" value='1'>selected</eq>>1000以下</option>
			<option value="2" <eq name="s_e_price" value='2'>selected</eq>>1000-3000</option>
			<option value="3" <eq name="s_e_price" value='3'>selected</eq>>3000-5000</option>
			<option value="4" <eq name="s_e_price" value='4'>selected</eq>>5000以上</option>
		</select>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>发卡机构编号</th><th>发卡机构名称</th><th>会员编号</th>
        <th>会员名称</th><th>卡号</th><th>卡号类型编号</th><th>卡状态</th><th>充值交易流水号</th><th>充值时间</th>
        <th>充值单编号</th><th>充值金额</th><th>操作员</th><th>备注</th>
    </tr>
    </thead>
    <volist name="list" id="vo">
	     <tr>
            <td>{$vo.panterid}</td><td>{$vo.pname}</td><td>{$vo.customid}</td><td>{$vo.cname}</td><td>{$vo.cardno}</td>
             <td>{$vo.cardkind}</td><td>{$statype[$vo['status']]}</td><td>{$vo.cpurchaseid}</td>
             <td><?php echo date('Y-m-d H:i:s',strtotime($vo['placeddate'].$vo['placedtime']))?></td>
             <td>{$vo.purchaseid}</td><td><?php echo floatval($vo['amount']);?></td><td>{$vo.username}</td><td>{$vo.description}</td>
        </tr>
        </volist>
</table>
<div class="inline pull-right page">总记录数：<b>{$count}</b>条 | 合计金额：<b>{$amount_sum}</b>元 {$page}</div>
    </div>
</body>
</html>
<script>
$(function(){
if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
    $('[placeholder]').focus(function() {
        var input = $(this);
        if (input.val() == input.attr('placeholder')) {
            input.val('');
            input.removeClass('placeholder');
        }
    }).blur(function() {
        var input = $(this);
        if (input.val() == '' || input.val() == input.attr('placeholder')) {
            input.addClass('placeholder');
            input.val(input.attr('placeholder'));
        }
    }).blur();
};
})
function placeholderSupport() {
    return 'placeholder' in document.createElement('input');
}
</script>
