<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
     #remind{  -moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: #fff none repeat scroll 0 0;border-color: -moz-use-text-color #a7a6aa #a7a6aa;border-image: none;border-style: none solid solid;border-width: 0 1px 1px;display: none;float: right;height: 180px;overflow-y: scroll;position: absolute;width: 207px;margin-top: -10px;list-style: none;z-index: 1000;}
    #key{margin:0;}
    #remind #key li:hover{background-color:#ccc;cursor: pointer;}
    </style>
</head>
<script type="text/javascript">
    $(function(){
        $('#startdate').datepicker();
        $('#enddate').datepicker();
        $("#ui-datepicker-div").hide();
        $(":radio[name='ptype']").eq(0).attr('checked',true);
        $(":radio[name='gtype']").eq(1).attr('checked',true);
        $(document).click(function(){
            $("#remind").css("display","none");
        });
        /*$(":radio[name='gtype']").click(function(){
            var vtype=$(this).val();
            if(vtype==1){
                $('#tr_1').show();
                $('#tr_2').hide();
            }else{
                $('#tr_1').hide();
                $('#tr_2').show();
            }
        });*/
    })
    function autoComplete(value){
        $.ajax({
            type:'GET',
            url:'{:U("Common/getComplete")}',
            data:{keys:value},
            dataType:'json',
            success:function(data){
                $('#remind').find('ul').html('');
                if(typeof(data)=='object'){
                    var childObj='';
                    for(var i=0;i<data.length;i++){
                        childObj+='<li style="list-style:none;" onclick="addVal(this,'+"'pname'"+',\''+data[i].panterid+'\')">'+data[i].panterid+'-'+data[i].pname+'</li>';
                    }
                    $('#remind').css('display','block');
                    $('#remind').find('ul').append(childObj);
                    if($('#remind').find('ul').height()<180){
                        var height=$('#remind').find('ul').height();
                        $('#remind').height(height);
                    }else{
                        $('#remind').height(180);
                    }
                }else{
                    $('#remind').css('display','none');

                }
            }
        })
    }
    function addVal(a,id,pid){
        var value=$(a).text();
        $('#'+id).siblings('input').val(pid);
        $('#'+id).val(value);
        $(a).parent().parent().css('display','none')
    }
</script>
<body>
<div class="dv">
<form action="" method="post" name='form1' class="definewidth m20">
<table class="table table-bordered table-hover ">
	<tr>
        <td width="10%" class="tableleft">红包活动名称&nbsp;<span style="color:#ff0700;">*</span></td>
        <td><input type="text" name="rulename" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">红包赠送场景&nbsp;<span style="color:#ff0700;">*</span></td>
        <td>
            <label style="display: inline;"><input type="radio" name="ptype" value="1"/>充值送红包</label>
            <label style="display: inline;"><input type="radio" name="ptype" value="2" checked/>消费送红包</label>
        </td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">红包活动起始时间 &nbsp;<span style="color:#ff0700;">*</span></td>
        <td><input type="text" name="startdate" id="startdate" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">红包活动终止时间 &nbsp;<span style="color:#ff0700;">*</span></td>
        <td><input type="text" name="enddate" id="enddate" value=""/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">红包赠送方式&nbsp;<span style="color:#ff0700;">*</span></td>
        <td>
            <!--label style="display: inline;"><input type="radio" name="gtype" value="1" />等额赠送</label-->
            <label style="display: inline;"><input type="radio" name="gtype" value="2" checked/>等比例赠送</label>
        </td>
    </tr>
    <tr id="tr_1"  style="display: none;">
        <td width="10%" class="tableleft">赠送金额&nbsp;<span style="color:#ff0700;">*</span></td>
        <td><input type="text" name="amount" onkeyup="clearNoNum(this);"/></td>
    </tr>
    <tr id="tr_2">
        <td width="10%" class="tableleft">赠送比例&nbsp;<span style="color:#ff0700;">*</span></td>
        <td><input type="text" name="rate" onkeyup="clearNoNum(this);"/>%</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">适用机构/商户 &nbsp;<span style="color:#ff0700;">*</span></td>
        <td>
            <div><input id="pname" type="text" onkeyup="autoComplete(this.value)"  autocomplete="off" placeholder="请输入你想要查询的机构名称" name="pname" class="keyy"/>
                <input type="hidden" name="panterid" value="" id="panterid"/>
            </div>
            <div id="remind">
                <ul id="key">
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td class="tableleft">备注</td>
        <td ><input type="text" name="memo" /></td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" >保存</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid" onclick="window.location.href='__URL__/HbRules'">返回列表</button>
        </td>
    </tr>
</table>
</form>
    </div>
</body>
</html>
