<!DOCTYPE html>
<html>
<head>
    <title>酒店余额报表</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/demo/demo.css">
    <script type="text/javascript" src="__PUBLIC__/Js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/easyui/locale/easyui-lang-zh_CN.js"></script>

</head>
<body  style="padding:6px;">
<div>
    <table id="list" class="easyui-datagrid" title="酒店余额报表"  width="100%" height="820"
           data-options="
                                url:'getBalanceList',
                                rownumbers: true,
                                pagination:true,
                                pageSize:20,
                                pageList:[20,50,100,200],
                                singleSelect: false,                              
                                method: 'get',
                                striped:true,
                                toolbar:'#tb',
                                loadMsg:'正在加载数据',
                                fitColumns:true,
                                showFooter:true,
                                onHeaderContextMenu: function(e, field){
                                    e.preventDefault();
                                    if (!cmenu){
                                        createColumnMenu();
                                    }
                                    cmenu.menu('show', {
                                        left:e.pageX,
                                        top:e.pageY
                                    });
                                }
                                ">

        <thead>
        <tr>
            <th data-options="field:'cardno',width:10,align:'left'">卡号</th>
            <th data-options="field:'cardfee',width:10,align:'center'">卡类型</th>
            <th data-options="field:'customid',width:10,align:'center'">会员编号</th>
            <th data-options="field:'cuname',width:10,align:'center'">会员名称</th>
            <th data-options="field:'pname',width:10,align:'center'">会员所属机构</th>
            <th data-options="field:'amount',width:10,align:'center'">充值金额</th>
            <th data-options="field:'tradeamount',width:10,align:'center'">交易金额</th>
            <th data-options="field:'tradepoint',width:10,align:'center'">交易积分</th>
            <th data-options="field:'cardbalance',width:10,align:'center'">卡余额</th>
            <th data-options="field:'pointbalance',width:10,align:'center'">卡积分余额</th>
        </tr>
        </thead>
    </table>
</div>
<div style="visibility:hidden" id="__box">
    <div id="tb" style="padding:4px;height:auto;display: none;">
       <div style="padding:4px">
            会员编号:<input class="easyui-textbox" id="customid" name="customid" style="width:140px;">&nbsp;&nbsp;&nbsp;&nbsp;
            会员名称:<input class="easyui-textbox" id="cuname" name="cuname" style="width:140px;">
        </div>
        <div style="padding:4px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            卡号:<input class="easyui-textbox" id="cardno" name="cardno" style="width:140px;">
            <span style="margin-left:300px;">
                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onClick="doSearch()">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onClick="resetting()">重置</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <!--a href="{:U("Hotels/balance_excel")}" class="easyui-linkbutton" data-options="iconCls:'icon-redo'">导出</a-->
            </span>
        </div>
    </div>

</div>

<script type="text/javascript">
    //查询
    function doSearch(){
        var o={};
        o.customid=$('#customid').textbox('getValue');
        o.cuname=$('#cuname').textbox('getValue');
        o.cardno=$('#cardno').textbox('getValue');
        $('#list').datagrid('load',o);
        return false;
    }
    //清空查询条件
    function resetting(){
        var o={};
        o.customid=$('#customid').textbox('setValue','');
        o.cuname=$('#cuname').textbox('setValue','');
        o.cardno=$('#cardno').textbox('setValue','');
        $('#list').datagrid('load',o);
        return false;
    }
    //设置列格式
    function cellStyler(value,row,index){
        if (value > 0){
            return 'background-color:#ffee00;color:red;';
        }
    }
</script>
</body>
</html>

