<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>余额记录</title>
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/page.css"/>
<script src="__PUBLIC__/JyHome/jquery-1.12.1.js"></script>
<script src="__PUBLIC__/JyHome/dropload.min.js"></script>
<link href="__PUBLIC__/JyHome/Staff_Credits.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="top">
    	<span style="font-size:1.2em; line-height:3em;">冯昶，您好！</span>
        <span style="font-size:1.2em;">共<span style="font-size:4em; display:inline; margin:auto 10px;font-family:'Adobe 黑体 Std';">{$balance}</span>分</span>
    </div>
    
    
    <input type="hidden" id="cid" value="{$cid}"/>
    <div class="top_4">
		<div class="top_4_01">
			<a href="#" ><span class="underline_all">全部</span></a>
			<a href="#" > <span class="underline_in">充值</span></a>
			<a href="#" ><span class="underline_out">消费</span></a>
		</div>
	</div>
		<div class="content">
		 <div class="lists"></div>
	  </div>
    </div>
</body>
</html>
<script>
	$(function(){
		// 页数
		var page = 0;
		// 每页展示5个
		var size = 5;
		var cid = $("#cid").val();
		// dropload
		$('.content').dropload({
			scrollArea : window,
			loadDownFn : function(me){
				page++;
				// 拼接HTML
				var result = '';
				$.ajax({
					type: 'GET',
					url:"{:U('JyHome/getTradeInfo')}"+'?page=' + page + '&size=' + size +"&cid="+cid,
					dataType: 'json',
					success: function(data){
						var arrLen = data.length;
						if(arrLen > 0){
							for(var i=0; i<arrLen; i++){
								result += ' <div class="top_4_jl">'
										+ ' <div class="top_4_jl_t">'+'<span style="float:left;font-size:1.2em; color:#8bdf13;">'+'消费'+'</span>'
										+ ' <span style="float:right;font-size:1.2em; text-align:right;color:#8bdf13;"> -'+ data[i].tradeamount +'</span>'
										+ ' </div>'
										+ ' <div class="top_4_jl_t" style="border-bottom:1px solid #ddd;color:#8d8fa1; padding-bottom:2%; margin-top:4px;">'
										+ ' <span style="float:left;font-size:1em;"> '+ data[i].placeddate +'&nbsp;' + data[i].placedtime +'</span> '
										+ '</div>'+'</div>';
								console.log(result);
							}
							// 如果没有数据
						}else{
							// 锁定
							me.lock();
							// 无数据
							me.noData();
						}
						// 为了测试，延迟1秒加载
						setTimeout(function(){
							// 插入数据到页面，放到最后面
							$('.lists').append(result);
							// 每次数据插入，必须重置
							me.resetload();
						},1000);
					},
					error: function(xhr, type){
						alert('Ajax error!');
						// 即使加载出错，也得重置
						me.resetload();
					}
				});
			}
		});
	});
</script>
