<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>提现页面</title>
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="__PUBLIC__/JyHome/Staff_Credits.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!--<div class="bangka_t">信息加密处理，仅用于银行验证</div>-->
    <div class="bangka_xx"  style=" margin-bottom:4%;">
        <div  class="bangka_xx_1" style=" border-bottom:none;">
        <span>员工姓名</span><input type="text" value="" autocomplete="off" placeholder="请输入员工姓名" name="" class="ipt" style="margin-left:6px;">
        </div>
    </div>
    
    
    <div class="bangka_xx" style=" margin-bottom:4%;" >
        <div  class="bangka_xx_1" style=" border-bottom:none;">
        <span>员工编号</span><input type="text" value="" autocomplete="off" placeholder="请输入员工编号" name="" class="ipt" style="margin-left:6px;">
        </div>
    </div>
    
    <div class="bangka_xx" style=" margin-bottom:4%;" >
        <div  class="bangka_xx_1" style=" border-bottom:none;">
        <span>邮箱号码</span><input type="text" value="" autocomplete="off" placeholder="请输入邮箱号码" name="" class="ipt" style="margin-left:6px;">
        </div>
    </div>
    
    
    
    
     <a href="scuessfull.html"><button class="bon">确定认证</button></a>



</body>
</html>
