<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script> 
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<div class="dv">
<form action="" method="post" class="definewidth m20">
<input type="hidden" name="userid" value="{$list.userid}">
<table class="table table-bordered table-hover ">
    <tr>
        <td width="10%" class="tableleft">账号</td>
        <td><input type="text" name="loginname" value="{$list.loginname}"/></td>
    </tr>
	<tr>
        <td width="10%" class="tableleft">密码</td>
        <td><input type="text" name="password1" value="******"/></td>
    </tr>
	<tr>
        <td width="10%" class="tableleft">描述</td>
        <td><input type="text" name="description" value="{$list.description}"/></td>
    </tr>
	<tr>
        <td width="10%" class="tableleft">姓名</td>
        <td><input type="text" name="username" value="{$list.username}"/></td>
    </tr>
	<tr>
        <td width="10%" class="tableleft">电话</td>
        <td><input type="text" name="teleno" value="{$list.teleno}"/></td>
    </tr>
	<tr>
        <td width="10%" class="tableleft">panterid</td>
        <td><input type="text" name="panterid" value="{$list.panterid}"/></td>
    </tr>
    <tr>
        <td class="tableleft">状态</td>
        <td >
            <input type="radio" name="active" value="Y" checked/> 启用
           <input type="radio" name="active" value="N" /> 禁用
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" >保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid" onclick="window.location.href='__URL__/userList'">返回列表</button>
        </td>
    </tr>
</table>
</form>
    </div>
</body>
</html>
