<!DOCTYPE html>
<html>
<head>
    <title>补卡报表</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/page.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>

    <style type="text/css">
        body {padding-bottom: 40px;}
        .sidebar-nav {padding: 9px 0;}
        @media (max-width: 980px) {.navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  } }
    </style>
</head>
<body>
<script type="text/javascript">
    $(function(){
        $('#startdate').datepicker();
        $('#enddate').datepicker();
        $("#ui-datepicker-div").hide();
    })
</script>
<div  class="dv">
<form class="form-inline definewidth m20" action="{:U("Finance/mendCard")}" method="get">
    补卡日期：
    <input type="text" name="startdate" id="startdate" class="abc input-default" value="{$startdate}" style="width:100px;"/> --- <input type="text" name="enddate" id="enddate" class="abc input-default" value="{$enddate}" style="width:100px; margin-right:7px;"/>
    <input type="text" name="precardno" id='precardno' value='{$precardno}' style="width:165px; margin-right:7px;" placeholder="原卡号"/>
	<input type="text" name="cardno" id='cardno' value='{$cardno}' style="width:165px; margin-right:7px;" placeholder="现卡号"/>
    <input type="text" name="customid" id='customid' value='{$customid}' style="width:80px; margin-right:7px;" placeholder="会员编号"/>
    <input type="text" name="cuname" id='cuname' value='{$cuname}' style="width:90px; margin-right:7px;" placeholder="会员名称"/>
	<input type="text" name="username" id='username' value='{$username}' style="width:100px; margin-right:5px;" placeholder="操作员"/>
    <button type="submit" class="btn btn-mini btn-primary">查询</button>
    <input type="button" value="重置" onclick="window.location='{:U("Finance/mendcard")}'" class="btn btn-mini btn-danger" />
    <a href="{:U("Finance/mendCard_excel")}" target="_blank" class="btn btn-mini"><!-- <img style="margin-top:3px;" src="__PUBLIC__/assets/img/excel.png" width="26" title="导出EXCEL" /> --><i class="Hui-iconfont">&#xe640;</i>导出EXCEL</a>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>卡号</th><th>会员编号</th><th>会员名称</th>
        <th>原卡号</th><th>补卡时间</th><th>操作员名称</th>
        <th>备注</th>
    </tr>
    </thead>
    <volist name="list" id="vo">
	     <tr>
            <td>{$vo.cardno}</td><td>{$vo.customid}</td><td>{$vo.cuname}</td><td>{$vo.precardno}</td><td><?php echo date('Y-m-d',strtotime($vo['placeddate']))?></td>
             <td>{$vo.username}</td><td>{$vo.memo}</td>
        </tr>
        </volist>
</table>
<div class="inline pull-right page sabrosus">{$page}</div>
    </div>
</body>
</html>
<script>
	function del(id)
	{
		if(confirm("确定要删除吗？"))
		{

			var url = "index.html";

			window.location.href=url;

		}
	}
</script>
<script>
$(function(){
if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
    $('[placeholder]').focus(function() {
        var input = $(this);
        if (input.val() == input.attr('placeholder')) {
            input.val('');
            input.removeClass('placeholder');
        }
    }).blur(function() {
        var input = $(this);
        if (input.val() == '' || input.val() == input.attr('placeholder')) {
            input.addClass('placeholder');
            input.val(input.attr('placeholder'));
        }
    }).blur();
};
})
function placeholderSupport() {
    return 'placeholder' in document.createElement('input');
}
</script>
