<!DOCTYPE html>
<html>
<head>
    <title>消费明细报表</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/page.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>

    <style type="text/css">
        body {padding-bottom: 40px;}
        .sidebar-nav {padding: 9px 0;}
        @media (max-width: 980px) {.navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  } }
    </style>
</head>
<body>
<script type="text/javascript">
    $(function(){
        $('#startdate').datepicker();
        $('#enddate').datepicker();
        $("#ui-datepicker-div").hide();
    })
</script>
<div  class="dv">
<form class="form-inline definewidth m20" action="{:U("Finance/tbconsume")}" method="get">
    交易日期:
    <input type="text" name="startdate" id="startdate" class="abc input-default" value="{$startdate}" style="width:100px;"/>---<input type="text" name="enddate" id="enddate" class="abc input-default" value="{$enddate}" style="width:100px; margin-right:5px;"/>
<input type="text" name="customid" id='customid' value='{$customid}' style="width:80px; margin-right:7px;" placeholder="会员编号"/>
    <if condition="$is_admin eq 1">
    <input type="text" name="panterid" id='panterid' value='{$panterid}' style="width:90px; margin-right:10px;" placeholder="商户编号"/>
    <input type="text" name="pname" id='pname' value='{$pname}' style="width:110px; margin-right:7px;" placeholder="商户名称"/>
    </if>
    <select name="jystatus" style="width:83px; margin-right:7px;">
            <option value="" selected>交易类型</option>
        <foreach name="jytype" item="vo">
            <option value="{$key}"<if condition="($key eq $jystatus)"> selected</if>>{$vo}</option>
        </foreach>
        </select>
        <if condition="$is_admin eq 1">
        <select name="hystatus" style="width:83px; margin-right:7px;">
            <option value="" selected>所属行业</option>
            <foreach name="hytype" item="vo">
                <option value="{$key}"<if condition="($key eq $hystatus)"> selected</if>>{$vo}</option>
            </foreach>
        </select>
    </if>
    <button type="submit" class="btn btn-mini btn-primary">查询</button>
    <input type="button" value="重置" onclick="window.location='{:U(Finance/tbconsume)}'" class="btn btn-mini btn-danger" />
 
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>序号</th>
        <th>会员编号</th><th>状态</th><th>商户编号</th>
        <th>商户名称</th><th>所属行业</th><th>交易时间</th>
        <th>交易金额</th><th>交易类型</th><th>流水号</th><th>外部订单号</th>
    </tr>
    </thead>
    <volist name="list" id="vo" key="k">
	     <tr>
            <td>{$k}</td>
            <td>{$vo.CUSTOMID}</td>
            <td>交易成功</td>
            <td>{$vo.PANTERID}</td>
            <td>{$vo.PNAME}</td>
            <td>{$vo.HYSX}</td>
            <td><?php echo date('Y-m-d H:i:s',$vo['DATETIME'])?></td>
            <td><?php echo bcadd($vo['TOTALAMOUNT'],0,2); ?></td>
            <td>
                <if condition="$jytype[$vo['STATUS']] eq '通宝+退款' "><font color='red'>{$jytype[$vo['STATUS']]}</font>
                    <else />{$jytype[$vo['STATUS']]}
                </if>
            </td>
            <td>{$vo.NUM}</td>
            <td>{$vo.OUT_ORDER}</td>
        </tr>
    </volist>
</table>
<div class="inline pull-right page sabrosus">合计金额：<b>{$amount_sum}</b>元&nbsp;&nbsp;{$page}</div>
    </div>
</body>
</html>
<script>
$(function(){
if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
    $('[placeholder]').focus(function() {
        var input = $(this);
        if (input.val() == input.attr('placeholder')) {
            input.val('');
            input.removeClass('placeholder');
        }
    }).blur(function() {
        var input = $(this);
        if (input.val() == '' || input.val() == input.attr('placeholder')) {
            input.addClass('placeholder');
            input.val(input.attr('placeholder'));
        }
    }).blur();
};
})
function placeholderSupport() {
    return 'placeholder' in document.createElement('input');
}
</script>
