<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/js/H-ui.admin.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/skin/default/skin.css" rel="stylesheet" type="text/css" id="skin" />
<link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>至尊会员支付一卡通平台</title>
</head>
<body>
<!-- 后台页面头部导航 -->
<include file="Index/header"/>	
<!-- 后台页面左侧导航 -->
<aside class="Hui-aside">	
	<include file="Index/seller"/>	
	<include file="Index/users"/>
	<include file="Index/cards"/>
	<include file="Index/summary"/>
	<include file="Index/tongbao"/>
	<include file="Index/catering"/>
	<include file="Index/fang"/>
	<include file="Index/system"/>
</aside>
<!-- 后台页面左侧导航关闭箭头 -->
<div class="dislpayArrow"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!-- 后台右下主页面 -->
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="我的桌面" data-href='{:U("Index/welcome")}'>系统首页</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
            <if condition="$is_qjs neq 1">
			<iframe scrolling="yes" name="main" frameborder="0" src='{:U("Index/welcome")}'></iframe>
                <else/>
                <iframe scrolling="yes" name="main" frameborder="0" src='{:U("Index/welcome1")}'></iframe>
                </if>
		</div>
	</div>
</section> 
<script type="text/javascript" src="__PUBLIC__/Js/index.js"></script>
</body>
</html>