<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>营销券长短款处理</title>
<link href="__PUBLIC__/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/H-ui/js/H-ui.js" type="text/javascript"></script>
</head>
<style type="text/css">
    .r .current{display:inline-block;height:10px;margin-right:4px;color:#ff0700;font-weight: bold;}
    .r a{display:inline-block;height:10px;margin-right:4px;}
</style>
<body>
<div class="pd-20">
	<table class="table table-border table-bordered table-bg">
		<form action="" method="post">
			<div class="text-l" style="margin-bottom:10px;"> <!-- 日期范围：
				<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'2199-01-01'})" name="datemin" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'2010-01-01'})" name="datemax" id="datemax" class="input-text Wdate" style="width:120px;">
				 -->
				输入卡号&nbsp;<input type="text" class="input-text" style="width:250px" placeholder="输入卡号" name="cardno" value="{$cardno}"/>
				<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
			</div>
		</form>
		<thead>
			<tr>
				<th scope="col" colspan="10"><h3>营销券长短款处理</h3></th>
			</tr>
			<tr class="text-c">
				<th width="25"><!-- <input type="checkbox" name="" value=""> --></th>
				<th width="40">卡号</th>
				<th width="150">会员编号</th>
				<th width="100">会员名称</th>
				<th width="100">所属机构</th>
				<th width="100">券数量</th>
				<th width="100">券编号</th>
				<th width="100">券名称</th>
				<th width="130">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="data" id="vo">
				<tr class="text-c">
					<td><!-- <input type="checkbox" value="1" name=""> -->{$vo.numrow}</td>
					<td>{$vo.cardno}</td>
					<td>{$vo.customid}</td>
					<td>{$vo.customname}</td>
					<td>{$vo.pantername}</td>
					<td>{$vo.amount}</td>
					<td>{$vo.quanid}</td>
					<td>{$vo.quanname}</td>
					<td>[<a href="{:U("Mistake/mMore", array('customid'=>trim($vo['customid']), 'quanid'=>$vo['quanid']))}">下调</a>]&nbsp;|&nbsp;[<a href="{:U("Mistake/mLess", array('customid'=>trim($vo['customid']), 'quanid'=>$vo['quanid']))}">上调</a>]</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div>
		<span class="l">共有数据：<strong>{$count}</strong> 条</span>
		<span class="r">{$page}</span>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/js/H-ui.admin.js"></script>
</body>
</html>
