<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>积分短款处理</title>
<link href="__PUBLIC__/H-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js" type="text/javascript"></script> 
<script src="__PUBLIC__/H-ui/js/H-ui.js" type="text/javascript"></script> 
</head>
<body>
<div class="pd-20">
	<h2 class="text-c">积分短款处理</h2>
	<form action="" method="post" class="form form-horizontal" id="Validform">
		<div class="row cl">
			<div class="formControls col-4 text-r">卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</div>
			<div class="formControls col-4 va-m">{$data.cardno}</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="formControls col-4 text-r">会员编号：</div>
			<div class="formControls col-4 va-m">{$data.customid}</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="formControls col-4 text-r">会员名称：</div>
			<div class="formControls col-4 va-m">{$data.customname}</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="formControls col-4 text-r">积&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分：</div>
			<div class="formControls col-4 va-m">{$data.amount}</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="formControls col-4 text-r">所属机构：</div>
			<div class="formControls col-4 va-m">{$data.pantername}</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-4">调高积分：</label>
			<div class="formControls col-4">
				<input type="hidden" name="amount" value="{$data.amount}" />
				<input type="text" class="input-text" autocomplete="off" placeholder="不修改请留空" name="upper" datatype="num" nullmsg="请输入整数或小数！", errormsg="您输入的内容不是数字！"/>
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-8 col-offset-4">
				<input type="hidden" name="customid" value="{$data.customid}">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script>  
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/Validform/5.3.2/Validform.js"></script> 
<script type="text/javascript">
	$("#Validform").Validform({
		tiptype:2
	});
</script> 
</body>
</html>