<!DOCTYPE html>
<html>
<head>
    <title>可疑交易报告</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>

    <style type="text/css">
        body {padding-bottom: 40px;}
        .sidebar-nav {padding: 9px 0;}
        @media (max-width: 980px) {.navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  } }
        table th{word-break: keep-all;white-space:nowrap;}
    </style>
</head>
<body>
<a href="__PUBLIC__/exdemo/可疑交易报告.xls" target="_blank" class="btn btn-mini">
<i class="Hui-iconfont">&#xe640;</i>导出EXCEL</a>
<div  class="dv" style="overflow: auto;height: 500px">

    <table class="table table-bordered table-hover definewidth m10">
        <caption style="font-size: larger">可疑交易报告</caption>
        <thead>
        <tr>
            <th style="text-align:center" colspan="3">报告机构信息</th>
            <th style="text-align:center" colspan="14">可疑主体信息</th>
            <th style="text-align:center" colspan="12">报告基本信息</th>

        </tr>
        </thead>

        <tr>
            <th style="text-align:center;width: 100px">机构编码</th>
            <th style="text-align:center">网点代码</th>
            <th style="text-align:center">行业类别</th>
            <th style="text-align:center">姓名/名称</th>
            <th style="text-align:center">证件类型</th>
            <th style="text-align:center">证件号码</th>
            <th style="text-align:center">所在银行账号</th>
            <th style="text-align:center">所在银行名称</th>
            <th style="text-align:center">职业/行业</th>
            <th style="text-align:center">联系方式</th>
            <th style="text-align:center">法定代表人姓名</th>
            <th style="text-align:center">法定代表人身份证类型</th>
            <th style="text-align:center">法定代表人身份证号码</th>
            <th style="text-align:center">控股股东或实际控制人名称</th>
            <th style="text-align:center">控股股东或实际控制人证件类型</th>
            <th style="text-align:center">控股股东或实际控制人证件号码</th>
            <th style="text-align:center">国籍</th>
            <th style="text-align:center">报告紧急程度</th>
            <th style="text-align:center">报送次数标志</th>
            <th style="text-align:center">报送方向</th>
            <th style="text-align:center">可疑交易报告触发点</th>
            <th style="text-align:center">资金交易及客户行为情况</th>
            <th style="text-align:center">疑点分析</th>
            <th style="text-align:center">疑似涉罪类型</th>
            <th style="text-align:center">可疑交易特征代码</th>
            <th style="text-align:center">可疑交易/时间起始日期</th>
            <th style="text-align:center">可疑交易/事件结束日期</th>
            <th style="text-align:center">交易信息备注1</th>
            <th style="text-align:center">交易信息备注2</th>


        </tr>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>


        </tr>
        </tbody>
    </table>

    <div class="inline pull-right page">{$page}</div>
</div>
</body>
</html>
<script>
    $(function(){
        if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
            $('[placeholder]').focus(function() {
                var input = $(this);
                if (input.val() == input.attr('placeholder')) {
                    input.val('');
                    input.removeClass('placeholder');
                }
            }).blur(function() {
                var input = $(this);
                if (input.val() == '' || input.val() == input.attr('placeholder')) {
                    input.addClass('placeholder');
                    input.val(input.attr('placeholder'));
                }
            }).blur();
        };
    })
    function placeholderSupport() {
        return 'placeholder' in document.createElement('input');
    }
</script>

<script>
    $(function () {
        // 控制奇偶行的颜色

        // 找到单元格
        var tds = $("tbody td");
        // 注册事件
        tds.click(function () {
            // 当前td对象

            var tdObj = $(this);
            // 如果已经是文本框了
            if (tdObj.children("input").length > 0) {
                return false;
            }
            // 当前td中的内容
            var text = tdObj.html();
            // 清空td
            tdObj.html("");

            // 插入一个文本框,并选中里面内容
            var inputObj = $("<input type='text' />").css("border-width", "0")
                    .css("font-size", "16px").width(tdObj.width())
                    .css("background-color", tdObj.css("background-color"))
                    .appendTo(tdObj).select();

            //处理文本框上回车和esc按键的操作
            inputObj.keyup(function (event) {
                var keycode = event.which;
                //处理回车的情况
                if (keycode == 13) {
                    //获取当当前文本框中的内容
                    var inputtext = $(this).val();
                    //将td的内容修改成文本框中的内容
                    tdObj.html(inputtext);
                }
                //处理esc的情况
                if (keycode == 27) {
                    //将td中的内容还原成text
                    tdObj.html(text);
                }
            });
        });
    });
</script>