<!DOCTYPE html>
<html>
<head>
    <title id="title">兑换方收票</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-datetimepicker.min.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/1.9.3/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/index.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

<div style="padding-left: 40px;padding-top: 20px">
    <form class="form-inline definewidth m20"  method="get" action="{:U('invoiceReceive')}">
        <input type="text" name="panterName"  class=" input-default" value="{:I('get.panterName','')}" style="width:100px;" autocomplete="off" placeholder="法人单位"/>
        <input type="text" name="company"  class=" input-default" value="{:I('get.company','')}" style="width:100px;" autocomplete="off" placeholder="项目名称"/>
        <input type="text" name="invoicenum"  class=" input-default" value="{:I('get.invoicenum','')}" style="width:100px;" autocomplete="off" placeholder="发票号码"/>
        <input type="text" name="start" id="start" class="datetime input-default" value="{:I('get.start','')}" style="width:100px;" autocomplete="off" placeholder="月份"/>
        <button type="submit" class="btn  btn-primary">查询</button>
        <input type="reset" value="重置"  class="btn  btn-danger" />
        <button type="button"  class="btn" id="excel">
            导出EXCEL</button>
    </form>
</div>

<table class="table table-striped " >
    <thead id="thead">
    <th>上传日期</th>
    <th>发票号码</th>
    <th>法人单位</th>
    <th>项目名称</th>
    <th>当月应开票金额</th>
    <th>票面金额</th>
    <th>图片查看</th>
    <th>详细信息</th>
    </thead>
    <tbody id="tbody">
    <volist name="data" id="val">
        <tr >
            <td>{:date("Y-m-d",$val['uploaddate'])}</td>
            <td>{$val.receiptnum}</td>
            <td>{$val.operator}</td>
            <td>
                {$val.companys}
            </td>
            <td>
                {$val.actualmoney}
            </td>
            <td>
                {$val.money}
            </td>
            <td>
                <a href="#Custroms_Chaneg" class="btn btn-danger error" data-toggle="modal" data-type="1" data-index="{$val.img}"> 查看</a>
            </td>
            <td>
                <a href="#Custroms_Chaneg" class="btn btn-danger success" data-toggle="modal" data-type="1" data-index='{$val.data}'> 查看</a>
           </td>
        </tr>
    </volist>
    </tbody>

</table>
<div class="pagination pull-right">
    <ul>
        {$page}
    </ul>
</div>
<!-- Modal -->
<div id="Custroms_Chaneg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true">×</button>
        <p id="changdata">详细信息</p>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal" id="dtcontent">
            <dt>...</dt>
            <dd>...</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" id="submit">确定</button>
        <button class="btn btn-success cancel" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>


</body>
</html>
<script>
    var urlExcel = "{:U('Excel')}";
    $(function () {
        //初始化日期

        //时间控件初始化
        $('.datetime').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm',
            showButtonPanel: true,
            onClose: function(dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month option:selected").val();//得到选中的月份值
                var year = $("#ui-datepicker-div .ui-datepicker-year option:selected").val();//得到选中的年份值
                $('#Datepicker').val(year+'-'+(parseInt(month)+1));//给input赋值，其中要对月值加1才是实际的月份
            }
        });
        $("#ui-datepicker-div").hide();

        $('.error').on('click',function () {
           var uploadid = $(this).data('index');
            $('#dtcontent').html("<img src='/Public/"+uploadid+"'/>");
        });
        $('.success').on('click',function () {
            var uploadid = $(this).data('index');
            var html = "";
            $.each(uploadid,function (index,val) {
                    html += "<dt>"+index+":</dt><dd>"+val+"</dd>";
            });
            $('#dtcontent').html(html);
        });
    });
</script>
