<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.validate.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .tabBar {}
    		.tabBar span {background-color: #f5f5f5;cursor: pointer;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 15px; padding-bottom: 4px;padding-top: 8px;margin-bottom: 10px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;}
    		.tabBar span.current{background-color: #222;color: #fff;margin-bottom: 10px;}
    		.tabCon {display: none;}
    		.nume{margin: 0 0 5px;}
    </style>
</head>
<script>
  jQuery.choice =function(tabBar,tabCon,class_name,tabEvent,i){
    var $tab_menu=$(tabBar);
      // 初始化操作
      $tab_menu.removeClass(class_name);
      $(tabBar).eq(i).addClass(class_name);
      $(tabCon).hide();
      $(tabCon).eq(i).show();

      $tab_menu.bind(tabEvent,function(){
      $tab_menu.removeClass(class_name);
        $(this).addClass(class_name);
        var index=$tab_menu.index(this);
        $(tabCon).hide();
        $(tabCon).eq(index).show();
      });
  }
  $(function(){
    $.choice("#tab_xuan .tabBar span","#tab_xuan .tabCon","current","click","0");
  });
</script>
<body>
<div class="dv">
  <div class="nume">
		<div id="tab_xuan" class="choice m10  table definewidth" >
<form action="{:U("GreenPanter/addPanters")}" method="post" name="form1" enctype="multipart/form-data">
<table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
    <tr>
        <td rowspan="17" style="width:100px;text-align:center;vertical-align:middle;">基本信息</td>
        <td class="tableleft">商户名称</td>
        <td><input type="text" name="namechinese" id="namechinese" value="" maxlength="60" /><span class="emphasis"> *</span></td>
    </tr>
    <tr>
        <td class="tableleft">商户地址</td>
        <td><input type="text" name="address" id="address" value="" maxlength="100" /><span class="emphasis"> *</span></td>
    </tr>
    <tr>
        <td class="tableleft">商户简称</td>
        <td><input type="text" name="nameenglish" id="nameenglish" value="" maxlength="60" /></td>
    </tr>
    <tr>
        <td class="tableleft">身份证号</td>
        <td><input type="text" name="conperbpno" id="conperbpno" value="" maxlength="20" /><span class="emphasis"> *</span></td>
    </tr>
    <tr>
        <td class="tableleft">身份证有效期</td>
        <td><input type="text" name="period" id="period" value="" maxlength="8" /><span class="emphasis" readonly=""> *</span></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">联系人</td>
        <td><input type="text" name="conpername" id="conpername" value="" maxlength="20" /><span class="emphasis"> *</span>
        </td>
    </tr>
    <tr>
        <td class="tableleft">联系电话</td>
        <td><input type="text" name="conperteleno" id="conperteleno" value="" maxlength="20" /><span class="emphasis"> *</span></td>
    </tr>
</table>
<table class=" table-bordered  table-hover " style="border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border-top-left-radius: 0;border-top-right-radius: 0;width:100%;border-width: 0 1px 1px 0;">
        <tr>
        <!-- <td class="tableleft"></td> -->
        <td>
            <button type="submit" class="btn btn btn-primary" type="button" id="saveform" style="margin-left:200px;">保存</button>&nbsp;&nbsp;<button type="button" class="btn btn btn-success" onclick="window.history.back()">返回列表</button>
        </td>
    </tr>
</table>
</form>
    </div>
  </div>
</div>
</body>
</html>
<script>
    $(function () {
		$('#backid').click(function(){
				window.location.href="{:U("GreenPanter/index")}";
		 });
     $('#period').datepicker({dateFormat: 'yymmdd',yearRange:"2016:2050"});
     $("#ui-datepicker-div").hide();
     $('#timevalue').datepicker({dateFormat: 'yymmdd',yearRange:"2016:2050"});
     $("#ui-datepicker-div").hide();
     $("#namechinese").blur(function(){
       var namechinese = $.trim($('#namechinese').val());
       $.ajax({
          url:"{:U('Panters/pantername')}",
          type:"post",
          data:{namechinese:namechinese},
          dataType:"json",
          success:function(data){
            if(data.status==1)
            {
              alert(data.name);
            }
          }

       })
     });
        $('#saveform').click(function(){
            var namechinese = $.trim($('#namechinese').val());
            var address=$.trim($('#address').val());
            var conperbpno = $.trim($('#conperbpno').val());
            var conpername = $.trim($('#conpername').val());
            var conperteleno=$.trim($('#conperteleno').val());
            var period=$.trim($("#period").val());
            if(namechinese==''){
                alert('商户名称不能为空!');
                return false;
            }
            if(address=="")
            {
              alert("商户地址不能为空!");
              return false;
            }
            if(conperbpno==''){
                alert('身份证不能为空!');
                return false;
            }
            if(period=="")
            {
              alert("身份证有效期不能为空!");
              return false;
            }
            var m =/^[1][34578][0-9]{9}$/;
            var bool=m.test(conperteleno);
            if(!bool)
            {
              alert("联系人手机号格式不对!");
              return false;
            }
            document.form1.submit();
        })
    });
</script>
