<!DOCTYPE html>
<html>
<head>
    <title>清结算审核</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <link href="__PUBLIC__/H-ui/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>

    <style type="text/css">
        body {padding-bottom: 40px;}
        .sidebar-nav {padding: 9px 0;}
        @media (max-width: 980px) {.navbar-text.pull-right {  float: none;  padding-left: 5px;  padding-right: 5px;  } }
    </style>
</head>
<body>
<script type="text/javascript">
    $(function(){
        $('#startdate').datepicker();
        $('#enddate').datepicker();
        $("#ui-datepicker-div").hide();
    })
</script>
<div class="dv">
    <form class="form-inline definewidth m20" action="{:U('Fangzg/check')}" method="get">
        日期：
        <input type="text" name="startdate" id="startdate" class="abc input-default" value="{$startdate}" style="width:100px;"/>
        ---
        <input type="text" name="enddate" id="enddate" class="abc input-default" value="{$enddate}" style="width:100px; margin-right:10px;"/>
        项目：
        <input type="text" name="namechinese" class="abc input-default" value="{$namechinese}" placeholder="商户全称"/>
	<!-- <select name="panterid">
		<option value="0">请选择</option>
        <volist name="fcList" id="vo">
            <option value="{$vo.panterid}" <eq name="vo.panterid" value="$panterid">selected="selected"</eq>>{$vo.namechinese}</option>
        </volist>
	</select> -->
        订单号：<input type="text" name="tradeid" class="abc input-default" value="{$tradeid}"/>
  审核状态：
<select name="checkstatus">
<option value="-1" <if condition="$sts eq '-1'"> selected </if>>全部</option>
 <foreach name="arrs" item="vo" key="k">
    <option value="{$k}" <if condition="$k eq $sts"> selected </if> >{$vo}</option>
</foreach>
</select>
        <button type="submit" class="btn btn-mini btn-primary">查询</button>

</form>
    <br/>
    <form action="{:U('Fangzg/checkDo')}" method="post">
        <table class="table table-bordered table-hover definewidth m10" >
            <thead>
            <tr>
                <th style="width: 80px;">
                    <input type='checkbox'  id="cb"/>&nbsp;&nbsp;<input type="submit" class="btn btn-mini btn-primary" value="审核通过"/>
                </th>
                <th>订单编号</th><th>姓名</th><th>身份证号</th><th>手机号</th><th>订单金额</th>
                <th>订单日期</th><th>项目名称</th><th>审核状态</th><th>审核时间</th><th>财务审核状态</th>
                <th>财务审核时间</th><th>充值状态</th><th>操作</th>
            </tr>
            </thead>
            <volist name="list" id="vo" key="key">
                 <tr id="tr_{$vo.tradeid}">
                    <td style="text-align: center;">
                        <if condition="$vo.checkstatus eq 0">
                            <input type='checkbox'  name="tradeid[]" <if condition="$vo.mark eq 1">disabled="disabled"</if>  value="{$vo.tradeid}" />
                        </if>
                    </td>
                     <td>{$vo.tradeid}</td><td>{$vo.name}</td><td>{$vo.personid}</td><td>{$vo.linktel}</td><td>{$vo.amount}</td>
                     <td><?php echo date('Y-m-d H:i:s',$vo['ordertime']);?></td><td>{$vo.pname}</td>
                     <td><if condition="$vo.checkstatus eq 0">未审核<else/>已审核</if></td>
                     <td><if condition="$vo.checkdate neq null">{$vo.checkdate|date="Y-m-d H:i",###}<else/>-</if></td>
                     <td><if condition="$vo.acccheckstatus eq 0">未审核<else/>已审核</if></td>
                     <td><if condition="$vo.acccheckdate neq null">{$vo.acccheckdate|date="Y-m-d H:i",###}<else/>-</if></td>
                     <td><if condition="$vo.status eq 0">未充值<else/>已充值</if></td>
                     <if condition="$vo.checkstatus eq 0">
                         <td>
                         <if condition="$vo.mark eq 0">
                             <a class="btn btn-mini btn-primary" href="javascript:markMistake('{$vo.tradeid}');" >标记错误订单</a>
                             <a class="btn btn-mini btn-danger" href="javascript:cancelMark('{$vo.tradeid}');" style="display:none;">取消标记</a>
                         <else/>
                             <a class="btn btn-mini btn-primary" href="javascript:markMistake('{$vo.tradeid}');" style="display:none;">标记错误订单</a>
                             <a class="btn btn-mini btn-danger" href="javascript:cancelMark('{$vo.tradeid}');">取消标记</a>
                         </if>
                         </td>
                     </if>
                </tr>
                </volist>
        </table>
    </form>
<div class="inline pull-right page">订单总金额：{$amount_sum}元{$page}</div>
    </div>
<script type="text/javascript">
    $(function(){
        $("#cb").click(function(){
            var bool=$(this).attr('checked');
            if(bool=='checked'){
                bool=true;
            }else{
                bool=false;
            }
            $(":checkbox[name='tradeid[]']").each(function(){
                if($(this).attr('disabled')!='disabled'){
                    $(this).attr('checked',bool);
                }
            })
        });
    })
    function markMistake(tradeid){
        $.ajax({
            type:'POST',
            url:'__URL__/markMistake',
            data:{tradeid:tradeid},
            dataType:'json',
            success:function(res){
                alert(res.msg);
                if(res.status==1){
                    $('#tr_'+tradeid).find('a:eq(0)').hide();
                    $('#tr_'+tradeid).find('a:eq(1)').show();
                    $('#tr_'+tradeid).find(':checkbox').attr('checked',false);
                    $('#tr_'+tradeid).find(':checkbox').attr('disabled',true);
                }
            }
        });
    }
    function cancelMark(tradeid){
        $.ajax({
            type:'POST',
            url:'__URL__/cancelMark',
            data:{tradeid:tradeid},
            dataType:'json',
            success:function(res){
                alert(res.msg);
                if(res.status==1){
                    $('#tr_'+tradeid).find('a:eq(0)').show();
                    $('#tr_'+tradeid).find('a:eq(1)').hide();
                    $('#tr_'+tradeid).find(':checkbox').attr('disabled',false);
                }
            }
        });
    }
</script>
</body>
</html>
<script>
$(function(){
   var status=$("select[name='status']").find("option:selected").val();
  // alert(status);
   if(status==1)
   {
     $("#hidder").hide();
   }
   else
   {
     $("#hidder").show();
   }
})
</script>
