<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .tabBar {}
        .tabBar span {background-color: #f5f5f5;cursor: pointer;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 15px; padding-bottom: 4px;padding-top: 8px;margin-bottom: 10px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;}
        .tabBar span.current{background-color: #222;color: #fff;margin-bottom: 10px;}
        .tabCon {display: none;}
        .nume{margin: 0 0 5px;}

    </style>
</head>
<script>
  jQuery.choice =function(tabBar,tabCon,class_name,tabEvent,i){
    var $tab_menu=$(tabBar);
      // 初始化操作
      $tab_menu.removeClass(class_name);
      $(tabBar).eq(i).addClass(class_name);
      $(tabCon).hide();
      $(tabCon).eq(i).show();

      $tab_menu.bind(tabEvent,function(){
      $tab_menu.removeClass(class_name);
        $(this).addClass(class_name);
        var index=$tab_menu.index(this);
        $(tabCon).hide();
        $(tabCon).eq(index).show();
      });
  }
  $(function(){
    $.choice("#tab_xuan .tabBar span","#tab_xuan .tabCon","current","click","0");
  });
</script>
<body>
<div class="dv">
  <div id="tab_xuan" class="choice m10  table definewidth" >
      <div class="tabBar cl">
        <span style="border-left:1px solid #ccc;border-right:1px solid #ccc;border-top-left-radius:4px;border-bottom-left-radius:4px;">基本信息</span>
        <span>联系人信息</span>
        <span style="border-left:1px solid #ccc">商户风险控制</span>
      </div>
	<form action="{:U("Panters/editpanters")}" method="post" name="form1" enctype="multipart/form-data">
		<table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
		    <tr>
		        <td rowspan="18" style="width:100px;text-align:center;vertical-align:middle;">基本信息</td>
		        <td width="10%" class="tableleft">商户编号</td>
		        <td>{$panters.panterid}<input type="hidden" name="panterid" id="panterid" value="{$panters.panterid}" /></td>
		    </tr>
		    <tr>
		        <td class="tableleft">商户名称</td>
		        <td><input type="text" name="namechinese" id="namechinese" value="{$panters.namechinese}" /><span class="emphasis"> *</span></td>
		    </tr>
        <tr>
            <td class="tableleft">商户地址</td>
            <td><input type="text" name="panteraddress" id="panteraddress" value="{$panters.address}" maxlength="100" /><span class="emphasis"> *</span></td>
        </tr>
        <tr>
            <td class="tableleft">经营范围</td>
            <td><input type="text" name="operatescope" id="operatescope" value="{$panters.operatescope}" maxlength="100" /><span class="emphasis"> *</span></td>
        </tr>
        <tr>
            <td class="tableleft">组织机构代码</td>
            <td><input type="text" name="organizationcode" id="organizationcode" value="{$panters.organizationcode}" maxlength="100" /><span class="emphasis">(个体户选填，公司必填)</span></td>
        </tr>
        <tr>
            <td class="tableleft">营业执照</td>
            <td><input type="text" name="business" id="business" value="{$panters.business}" maxlength="100" /><span class="emphasis"> *</span></td>
        </tr>
        <tr>
        <td class="tableleft">营业执照有效期</td>
        <td><input type="text" name="timevalue" id="timevalue" value="{$panters.timevalue}" maxlength="38" /><span class="emphasis">*(格式：20160631)</span></td>
       </tr>
        <tr>
            <td class="tableleft">税务登记证</td>
            <td><input type="text" name="taxation" id="taxation" value="{$panters.taxation}" maxlength="100" /><span class="emphasis"> (个体户选填，公司必填)</span></td>
        </tr>
		    <tr>
		        <td class="tableleft">商户简称</td>
		        <td><input type="text" name="nameenglish" id="nameenglish" value="{$panters.nameenglish}" maxlength="50" /></td>
		    </tr>
		    <tr>
		        <td class="tableleft">所属省市</td>
		        <td><select name="province" id="province" onchange="loadRegion('province',3,'cityid','{:U("Panters/getCity")}');">
		                <option value="0">省份/直辖市</option><volist name="province" id="vo">
		                <option value="{$vo.provinceid}"<php>if($vo['provinceid']==$provinceid)echo ' selected';</php>>{$vo.provincename}</option>
		                </volist></select>
		                <select name="cityid" id="cityid"><volist name="city" id="cvo"><option value="{$cvo.cityid}"<php>if($cvo['cityid']==$panters['cityid'])echo ' selected';</php>>{$cvo.cityname}</option></volist></select>
		    </tr>
		    <tr>
		        <td class="tableleft">营业电话</td>
		        <td><input type="text" name="goingteleno" id="goingteleno" value="{$panters.goingteleno}" maxlength="30" /></td>
		    </tr>
        <tr>
            <td class="tableleft">所属机构</td>
            <td>
              <select name="parent" id="parent">
                        <option value="">请选择</option>
                  <volist name="parents" id="vo">
                        <option value="{$vo.panterid}" <?php if($vo['panterid']==$panters['parent']) echo selected ?> >{$vo.namechinese}</option>
                  </volist>
             </select>
          </td>
        </tr>
		    <tr>
		        <td class="tableleft">所属商圈</td>
		        <td><select name="pantergroup" id="parent"><volist name="pantergroups" id="vo">
		                <option value="{$vo.groupid}"<php>if($vo['groupid']==$panters['pantergroup'])echo ' selected';</php>>{$vo.groupname}</option>
		                </volist></select></td>
		    </tr>
		    <tr>
		        <td class="tableleft">行业属性</td>
		        <td><select name="hysx" id="hysx"><option value="">请选择</option><volist name="hysxs" id="vo">
		                <option value="{$vo}"<php>if($vo==$panters['hysx'])echo ' selected';</php>>{$vo}</option>
		                </volist></select></td>
		    </tr>
			<tr>
				<td class="tableleft">营业执照</td>
				<td>
					<span class="emphasis"> *</span><input type="file" name="licenseimg" onchange="gx_idcard('licenseimg',this)" />
					<empty name="panters.licenseimg">
					<img style="height:120px;" id="licenseimg" />
					<else />
					<img src="__PUBLIC__/{$panters.licenseimg}" style="height:120px;" id="licenseimg" />
					</empty>
				</td>
			</tr>
			<tr>
				<td class="tableleft">组织机构代码证</td>
				<td>
					<span class="emphasis"> *</span><input type="file" name="orzimg" onchange="gx_idcard('orzimg',this)" />
					<empty name="panters.orzimg">
					<img style="height:120px;" id="orzimg" />
					<else />
					<img src="__PUBLIC__/{$panters.orzimg}" style="height:120px;" id="orzimg" />
					</empty>
				</td>
			</tr>
				<tr>
				<td class="tableleft">税务登记证</td>
				<td>
					<span class="emphasis"> *</span><input type="file" name="taximg" onchange="gx_idcard('taximg',this)" />
					<empty name="panters.taximg">
					<img style="height:120px;" id="taximg" />
					<else />
					<img src="__PUBLIC__/{$panters.taximg}" style="height:120px;" id="taximg" />
					</empty>
				</td>
			</tr>
			<tr>
				<td class="tableleft">商户门头</td>
				<td>
					<span class="emphasis"> *</span><input type="file" name="doorplateimg" onchange="gx_idcard('doorplateimg',this)" />
					<empty name="panters.doorplateimg">
					<img style="height:120px;" id="doorplateimg" />
					<else />
					<img src="__PUBLIC__/{$panters.doorplateimg}" style="height:120px;" id="doorplateimg" />
					</empty>
				</td>
			</tr>
		    <tr>
		        <td class="tableleft">撤消状态</td>
		        <td>
		            <input type="radio" name="revorkflg" value="Y"<php>if('Y'==$panters['revorkflg'])echo ' checked';</php>/> 启用
		            <input type="radio" name="revorkflg" value="N"<php>if('N'==$panters['revorkflg'])echo ' checked';</php>/> 禁用
		        </td>
		    </tr>
      </table>
      <table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
		    <tr>
		        <td rowspan="7" style="width:100px;text-align:center;vertical-align:middle;">法人人信息</td>
            <td class="tableleft">法人代表</td>
            <td><input type="text" name="legalperson" id="legalperson" value="{$panters.legalperson}" maxlength="20"/><span class="emphasis"> *</span></td>
		        <!-- <td class="tableleft">实际控制人</td>
		        <td><input type="text" name="conpername" id="conpername" value="{$panters.conpername}" /><span class="emphasis"> *</span></td> -->
		    </tr>
        <tr>
            <td class="tableleft">证件类型</td>
            <td><input type="text" name="conperbtype" id="conperbtype" value="{$panters.conperbtype}" maxlength="20" /><span class="emphasis"> *</span></td>
        </tr>
		    <tr>
		        <td class="tableleft">法人代表证件号</td>
		        <td><input type="text" name="conperbpno" id="conperbpno" value="{$panters.conperbpno}" maxlength="20" /><span class="emphasis"> *</span></td>
		    </tr>
		    <tr>
				<td class="tableleft">法人代表证件正面</td>
				<td>
					<span class="emphasis"> *</span><input type="file" name="idface" onchange="gx_idcard('idface',this)" />
					<empty name="panters.idface">
					<img style="height:120px;" id="idface" />
					<else />
					<img src="__PUBLIC__/{$panters.idface}" style="height:120px;" id="idface" />
					</empty>
				</td>
			</tr>
			<tr>
				<td class="tableleft">法人代表证件反面</td>
				<td>
					<span class="emphasis"> *</span><input type="file" name="idcon" onchange="gx_idcard('idcon',this)" />
					<empty name="panters.idcon">
					<img style="height:120px;" id="idcon" />
					<else />
					<img src="__PUBLIC__/{$panters.idcon}" style="height:120px;" id="idcon" />
					</empty>
				</td>
			</tr>
        <tr>
            <td class="tableleft">证件有效期</td>
            <td><input type="text" name="period" id="period" value="{$panters.period}" maxlength="20" /><span class="emphasis"> *</span></td>
        </tr>
		    <tr>
		        <td class="tableleft">法人代表手机</td>
		        <td><input type="text" name="conpermobno" id="conpermobno" value="{$panters.conpermobno}" maxlength="20"><span class="emphasis"> *</span></input></td>
		    </tr>
        <tr>
		        <td rowspan="2" style="width:100px;text-align:center;vertical-align:middle;">常用联系人信息</td>
		        <td class="tableleft">联系人</td>
		        <td><input type="text" name="conpername" id="conpername" value="{$panters.conpername}" /><span class="emphasis"> *</span></td>
		    </tr>
        <tr>
		        <td class="tableleft">联系电话</td>
		        <td><input type="text" name="conperteleno" id="conperteleno" value="{$panters.conperteleno}" maxlength="20" /></td>
		    </tr>
      </table>
      <table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
		    <tr>
		        <td rowspan="3" style="width:100px;text-align:center;vertical-align:middle;">商户风险控制</td>
		        <td class="tableleft">每日消费限制</td>
		        <td><input type="text" name="account" id="account" value="{$panters.d_sum_account}" onkeyup="clearNoNum(this)" maxlength="10" /><span class="emphasis"> *</span></td>
		    </tr>
		    <tr>
		        <td class="tableleft">每日消费次数</td>
		        <td><input type="text" name="sumnumber" id="sumnumber" value="{$panters.d_sum_number}" onkeyup="clearNoNum(this)" maxlength="10"></input><span class="emphasis"> *</span></td>
		    </tr>
		    <tr>
		        <td class="tableleft">每笔刷卡限额</td>
		        <td><input type="text" name="oneaccount" id="oneaccount" value="{$panters.d_one_account}" onkeyup="clearNoNum(this)" maxlength="10"></input><span class="emphasis"> *</span></td>
		    </tr>
      </table>
	</form>
</div>
</div>
</div>
</body>
</html>
<script>
    $(function () {
		$('#backid').click(function(){
				window.location.href="{:U("EnPanters/index")}";
		 });
     $('#period').datepicker({dateFormat: 'yymmdd',yearRange:"2016:2050"});
     $("#ui-datepicker-div").hide();
     $('#timevalue').datepicker({dateFormat: 'yymmdd',yearRange:"2016:2050"});
     $("#ui-datepicker-div").hide();
        $('#saveform').click(function(){
            var account=$.trim($('#account').val());
            var sumnumber=$.trim($('#sumnumber').val());
            var oneaccount=$.trim($('#oneaccount').val());
            var hysx = $.trim($('#hysx').val());
            var conpername = $.trim($('#conpername').val());
            var namechinese = $.trim($('#namechinese').val());
            var conperbpno = $.trim($('#conperbpno').val());
            var panteraddress=$.trim($('#panteraddress').val());
            var operatescope=$.trim($('#operatescope').val());
            var business=$.trim($('#business').val());
            var conperbtype=$.trim($('#conperbtype').val());
            var legalperson=$.trim($('#legalperson').val());
            var conpermobno=$.trim($('#conpermobno').val());
            var period = $.trim($("#period").val());
            if(namechinese==''){
                alert('商户名称不能为空!');
                return false;
            }
            if(panteraddress=="")
            {
              alert("商户地址不能为空!");
              return false;
            }
            if(operatescope=='')
            {
              alert("经营范围不能为空!");
              return false;
            }
            if(business=="")
            {
              alert("营业执照不能为空!");
              return false;
            }
            if(hysx==''){
                alert('行业属性不能为空!');
                return false;
            }
            // if(conpername==''){
            //     alert('实际控制人不能为空!');
            //     return false;
            // }
            if(conperbtype=='')
            {
              alert('证件类型不能为空!');
              return false;
            }
            if(conperbpno==''){
                alert('法人代表证件号不能为空!');
                return false;
            }
            if(period=="")
            {
              alert("证件有效期不能为空!");
              return false;
            }
            if(legalperson=="")
            {
              alert("法人代表不能为空!");
              return false;
            }
            if(conpermobno=="")
            {
              alert("法人代表手机不能为空!");
              return false;
            }
            if(account==''){
                alert('每日消费限制不能为空');
                return false;
            }
            if(sumnumber==''){
                alert('每日消费次数不能为空');
                return false;
            }
            if(oneaccount==''){
                alert('每笔刷卡限额不能为空');
                return false;
            }
            if(hysx==''){
                alert('行业属性不能为空!');
                return false;
            }
            document.form1.submit();
        })
    });

	//图片
	function gx_idcard(x,y){
		var objUrl = getObjectURL(y.files[0]) ;
		console.log("objUrl = "+objUrl) ;
		if (objUrl) {
			$("#"+x).attr("src", objUrl) ;
		}
	}
	function getObjectURL(file) {
		var url = null ;
		if (window.createObjectURL!=undefined) { // basic
			url = window.createObjectURL(file) ;
		} else if (window.URL!=undefined) { // mozilla(firefox)
			url = window.URL.createObjectURL(file) ;
		} else if (window.webkitURL!=undefined) { // webkit or chrome
			url = window.webkitURL.createObjectURL(file) ;
		}
		return url ;
	}
</script>
