<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-ui-datepicker.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
  		#remind{  -moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: #fff none repeat scroll 0 0;border-color: -moz-use-text-color #a7a6aa #a7a6aa;border-image: none;border-style: none solid solid;border-width: 0 1px 1px;display: none;float: right;height: 180px;overflow-y: scroll;position: absolute;width: 207px;margin-top: -10px;list-style: none;z-index: 1000;}
    	#key{margin:0;}
   	 	#remind #key li:hover{background-color:#ccc;cursor: pointer;}
		.tabBar span {background-color: #f5f5f5;cursor: pointer;display: inline-block;float: left;font-weight: bold;height: 30px;line-height: 30px;padding: 0 15px; padding-bottom: 4px;padding-top: 8px;margin-bottom: 10px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;}
		.tabBar span.current{background-color: #222;color: #fff;margin-bottom: 10px;}
		.tabCon {display: none;}
		.nume{margin: 0 0 5px;}
    </style>
	<script>
		jQuery.choice =function(tabBar,tabCon,class_name,tabEvent,i){
			var $tab_menu=$(tabBar);
			  // 初始化操作
			  $tab_menu.removeClass(class_name);
			  $(tabBar).eq(i).addClass(class_name);
			  $(tabCon).hide();
			  $(tabCon).eq(i).show();

			  $tab_menu.bind(tabEvent,function(){
				$tab_menu.removeClass(class_name);
				  $(this).addClass(class_name);
				  var index=$tab_menu.index(this);
				  $(tabCon).hide();
				  $(tabCon).eq(index).show();
			  });
		}
		$(function(){
			$.choice("#tab_xuan .tabBar span","#tab_xuan .tabCon","current","click","0");
		});
	</script>
</head>
<body>

<div class="dv">
	<div class="nume">
		<div id="tab_xuan" class="choice m10  table definewidth" >
				<div class="tabBar cl">
					<span style="border-left:1px solid #ccc;border-right:1px solid #ccc;border-top-left-radius:4px;border-bottom-left-radius:4px;">基本信息</span>
					<span>证件信息</span>
					<span style="border-right:1px solid #ccc;border-left:1px solid #ccc;border-top-right-radius:4px;border-bottom-right-radius:4px;">其他信息</span>
				</div>
		<form method="post" id="form1" enctype="multipart/form-data">
				<table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
				<input type="hidden" name="customid" id="customid" value="{$info.customid}"/>
					<tr>
						<td style="width:150px;text-align:right;background-color:#f5f5f5;">会员编号</td>
						<td>{$info.customid}</td>
					</tr>
					 <tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> *</span>会员名称</td>
						<td><input type="text" name="namechinese" id="namechinese" value="{$info.namechinese}" maxlength="30" /></td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> </span>会员职业</td>
						<td><input type="text" name="career" id="career" value="{$info.career}" maxlength="50" /></td>
					</tr>
          <tr>
						<td style="text-align:right;background-color:#f5f5f5;">客户属性</td>
						<td>
							<select name="countrycode" class="form-control">
								<option value="建业业主" <if condition="$info.countrycode eq '建业业主'">selected="selected"</if>>建业业主</option>
								<option value="酒店客户" <if condition="$info.countrycode eq '酒店客户'">selected="selected"</if>>酒店客户</option>
								<option value="商业客户" <if condition="$info.countrycode eq '商业客户'">selected="selected"</if>>商业客户</option>
								<option value="内部员工" <if condition="$info.countrycode eq '内部员工'">selected="selected"</if>>内部员工</option>
								<option value="其他" <if condition="$info.countrycode eq '其他'">selected="selected"</if>>其他</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> *</span>联系方式</td>
						<td><input type="text" name="linktel" id="linktel" value="{$info.linktel}" maxlength="20" /></td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> *</span>性别</td>
						<td>
							<label style="display: inline;"><input type="radio" name="sex" value="男"<if condition="$info.sex eq '男'">checked="checked"</if>/>男</label>
							<label style="display: inline;"><input type="radio" name="sex" value="女"<if condition="$info.sex eq '女'">checked="checked"</if>/>女</label>
						</td>
					</tr>
					<tr>
						 <td style="text-align:right;background-color:#f5f5f5;">会员类型</td>
						 <td>
							 <select name="customlevel" class="form-control">
                                 <option value="建业线上会员">建业线上会员</option>
								 <option value="一般客户">一般客户</option>
								 <option value="团购客户">团购客户</option>
							 </select>
						 </td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;width:150px;">证件类型</td>
						<td>
							<select name="personidtype" class="form-control" >
								<option value="身份证">身份证</option>
								<option value="护照">护照</option>
								<option value="军官证">军官证</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> *</span>证件号码</td>
						 <td>
							<input type="text" name="personid" value="{$info.personid}" maxlength="20" id="personid" onkeyup="personReg(this)"/>
						 </td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">
							<span class="emphasis"> *</span>开户机构</td>
						<td>
							<div>
								<input id="pname" type="text" onkeyup="autoComplete(this.value)" value="{$info.pname}" autocomplete="off" placeholder="请输入你想要查询的机构名称" name="pname"/>
								<input type="hidden" name="panterid" id="panterid" value="{$info.panterid}" />
							</div>
							<div id="remind">
								 <ul id="key"></ul>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">状态</td>
						<td>
							<select name="linkman" class="form-control">
								<option value="启用" <if condition="$info.linkman eq '启用'">selected="selected"</if>>启用</option>
								<option value="不启用" <if condition="$info.linkman eq '启用'">selected="selected"</if>>不启用</option>
							</select>
						</td>
					</tr>
				</table>
				<table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;width:150px">所属省市</td>
						<td>
							<select name="provinceid" class="form-control" id="provinceid">
								<volist name="pro" id="vo">
									<eq name="vo.provinceid" value="$current_proid">
										<option value="{$vo.provinceid}" selected="selected">{$vo.provincename}</option>
										<else/>
										<option value="{$vo.provinceid}">{$vo.provincename}</option>
									</eq>
								</volist>
							</select>
							<select name="cityid" class="form-control" id="cityid">
								<volist name="citys" id="vo">
									<eq name="vo.cityid" value="$info.cityid">
										<option value="{$vo.cityid}" selected="selected">{$vo.cityname}</option>
										<else/>
										<option value="{$vo.cityid}">{$vo.cityname}</option>
									</eq>
								</volist>
							</select>
              <select name="countyid" class="form-control" id="countyid">
                <volist name="county11" id="vo">
                  <option value="{$vo.countyid}" <if condition="$vo.countyid eq $countyid">selected='true'</if>>{$vo.countyname}</option>
                </volist>
              </select>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">详细地址（常住地址）</td>
						<td><input type="text" name="residaddress" style="width:400px;" value="{$info.residaddress}" maxlength="60" /></td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">邮编</td>
						<td><input type="text" name="unitzip" value="{$info.unitzip}" maxlength="10" /></td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">证件正面照片</td>
						<td>
							<input type="file" name="frontImg" onchange="gx_idcard('frontImg',this)" />
							<empty name="info.frontimg">
							<img style="height:120px;" id="frontImg" />
							<else />
							<img src="<?php if(substr($info['frontimg'],1,6)=='IMAGES'){echo $info['frontimg'];}else{echo '/Public/'.$info['frontimg'];}?>" style="height:120px;" id="frontImg" />
							</empty>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> </span>证件反面照片</td>
						<td>
							<input type="file" name="reserveImg" onchange="gx_idcard('reserveImg',this)" />
							<empty name="info.reserveimg">
							<img style="height:120px;" id="reserveImg" />
							<else />
							<img src="<?php if(substr($info['reserveimg'],1,6)=='IMAGES'){echo $info['reserveimg'];}else{echo '/Public/'.$info['reserveimg'];}?>" style="height:120px;" id="reserveImg" />
							</empty>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;"><span class="emphasis"> </span>证件有效期</td>
						<td>
							<input type="text" name="personidexdate" maxlength="20" id="personidexdate" value="{$info.personidexdate}" />
						</td>
					</tr>
				</table>
				<table class="tabCon table-bordered table-hover  m10" style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;">
          <tr>
						<td style="text-align:right;background-color:#f5f5f5;width:150px">英文名称</td>
						<td><input type="text" name="nameenglish" value="{$info.nameenglish}" maxlength="30" /></td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">生日</td>
						<td><input type="text" name="birthday" value="{$info.birthday}" id="birthday" readonly/></td>
					</tr>
					<tr>
						 <td style="text-align:right;background-color:#f5f5f5;">E-Mail</td>
						 <td><input type="text" name="email" value="{$info.email}" maxlength="60" /></td>
					</tr>
					<tr>
						<td style="text-align:right;background-color:#f5f5f5;">收入</td>
						<td>
							<select name="staffpaper">
								<option value="1" <if condition="$info.staffpaper eq 1">selected="selected"</if>>2000以下</option>
								<option value="2" <if condition="$info.staffpaper eq 2">selected="selected"</if>>2000-3000</option>
								<option value="3" <if condition="$info.staffpaper eq 3">selected="selected"</if>>3000-5000</option>
								<option value="4" <if condition="$info.staffpaper eq 4">selected="selected"</if>>5000-8000</option>
								<option value="5" <if condition="$info.staffpaper eq 4">selected="selected"</if>>8000-10000</option>
								<option value="6" <if condition="$info.staffpaper eq 6">selected="selected"</if>>10000以上</option>
							</select>
						</td>
					</tr>
				</table>
				<table class=" table-bordered  table-hover " style="border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border-top-left-radius: 0;border-top-right-radius: 0;width:100%;border-width: 0 1px 1px 0;">
					<tr>
						<td colspan="2" style="padding-left:150px;background-color:#f5f5f5;">
							<button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;
							<a type="button" class="btn btn-success" name="backid" id="backid" href="__URL__">返回列表</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function(){
        $('#birthday').datepicker({dateFormat: 'yymmdd',yearRange:"1953:2020"});
		$('#personidexdate').datepicker({dateFormat: 'yymmdd',yearRange:"1980:2099"});
        $("#ui-datepicker-div").hide();
        $('#provinceid').change(function(){
            var provinceid= $.trim($(this).val());
            $.ajax({
                type:'POST',
                data:{'provinceid':provinceid},
                dataType:'json',
                url:'__APP__/common/getAjaxCitys',
                success:function(data){
                    var html='';
                    if(data!=''){
                        for(var i=0;i<data.length;i++){
                            html+='<option value="'+data[i].cityid+'">'+data[i].cityname+'</option>';
                        }
                    }
                    $('#cityid').html(html);
                }
            })
        });
        $('#cityid').change(function(){
            var cityid= $.trim($(this).val());
            $.ajax({
                type:'POST',
                data:{'cityid':cityid},
                dataType:'json',
                url:'U__URL__/getCountys',
                success:function(data){
                    var html='';
                    if(data!=''){
                        for(var i=0;i<data.length;i++){
                            html+='<option value="'+data[i].countyid+'">'+data[i].countyname+'</option>';
                        }
                    }
                    $('#countyid').html(html);
                }
            })
        })
        //身份证修改验证是否唯一性
        $("#personid").blur(function(){
          var personid=$.trim($('#personid').val());
          var customid = $.trim($("#customid").val());
          $.ajax({
            type:"post",
            url:'{:U("Customs/editif")}',
            data:{'personid':personid,'customid':customid},
            dataType:"json",
            success:function(data){
              if(data.status==1)
              {
                alert(data.name);
                // $("#form1").submit(function () {
                //    return false;
                //         });
              }
              // else
              // {
              //   $("#form1").unbind('submit');
              //
              // }


            }

          })

        });
        //联系电话编辑时唯一性检验
        $("#linktel").change(function(){
          var linktel= $.trim($('#linktel').val());
          var customid = $.trim($("#customid").val());
          $.ajax({
            type:"post",
            url:'{:U("Customs/linktelif")}',
            data:{'linktel':linktel,'customid':customid},
            dataType:"json",
            success:function(data){
              if(data.status==1)
              {
                alert(data.name);
                // $("#form1").submit(function () {
                //    return false;
                //         });
              }
              // else
              // {
              //   $("#form1").unbind('submit');
              //
              // }


            }


          })
        })

        // $("#linktel").change(function(){
        //   var linktel= $.trim($('#linktel').val());
        //   var customid = $.trim($("#customid").val());
        //   $.ajax({
        //     type:"post",
        //     url:"__URL__/linktelif",
        //     data:{'linktel':linktel,'customid':customid},
        //     dataType:"json",
        //     success:function(data){
        //       if(data.status==1)
        //       {
        //         alert(data.name);
        //         $("#form1").submit(function () {
        //            return false;
        //                 });
        //       }
        //       else
        //       {
        //         $("#form1").unbind('submit');
        //
        //       }
        //
        //
        //     }
        //
        //   })
        //
        // // });
        $('#form1').submit(function(){
            var namechinese= $.trim($('#namechinese').val());
            var personid=$.trim($('#personid').val());
            var linktel= $.trim($('#linktel').val());
            var panterid= $.trim($('#panterid').val());
            var pname= $.trim($('#pname').val());
            var m = /^[\u4e00-\u9fa5 ]{2,20}$/;
            var result = m.test(namechinese);
            if(namechinese==''){
                alert('会员名称必须填写');
                return false;
            }
            if(!result)
            {
              alert("会员名必须为中文");
              return false;
            }
            if(personid==''){
                alert('证件号码必须填写');
                return false;
            }
            if(linktel==''){
                alert('联系方式必须填写');
                return false;
            }
            if(pname==''&&panterid==''){
                alert('开户机构必须填写');
                return false;
            }
        });
        $('#personid').blur(function(){
            var personid= $.trim($(this).val());
            if(personid.length<18){
                $('#birthday').val('');
                return;
            }
            var birth=personid.substr(6,8);
            var birthYear=personid.substr(6,4);
            var date=new Date();
            var currentYear=date.getFullYear();
            if(birthYear<1930&&birthYear>currentYear){
                $('#birthday').val('');
                alert('非法身份证');return;
            }
            $('#birthday').val(birth);
        })
    })
    function autoComplete(value){
        $.ajax({
            type:'GET',
            url:'{:U("Common/getComplete")}',
            data:{keys:value},
            dataType:'json',
            success:function(data){
                $('#remind').find('ul').html('');
                 if(typeof(data)=='object'){
                     var childObj='';
                     for(var i=0;i<data.length;i++){
                         childObj+='<li style="list-style:none;" onclick="addVal(this,'+"'pname'"+',\''+data[i].panterid+'\')">'+data[i].pname+'</li>';
                     }
                     $('#remind').css('display','block');
                     $('#remind').find('ul').append(childObj);
                     if($('#remind').find('ul').height()<180){
                         var height=$('#remind').find('ul').height();
                         $('#remind').height(height);
                     }else{
                         $('#remind').height(180);
                     }
                }else{
                    $('#remind').css('display','none');
                }
            }
        })
    }
function addVal(a,id,pid){
    var value=$(a).text();
    $('#'+id).siblings('input').val(pid);
    $('#'+id).val(value);
    $(a).parent().parent().css('display','none')
}
    function personReg(obj){
        obj.value=obj.value.replace(/[^\dX]+/g,'');
    }

//图片
function gx_idcard(x,y){
	var objUrl = getObjectURL(y.files[0]) ;
	console.log("objUrl = "+objUrl) ;
	if (objUrl) {
		$("#"+x).attr("src", objUrl) ;
	}
}
function getObjectURL(file) {
	var url = null ;
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
}
</script>
</body>
</html>
