<!DOCTYPE html>
<html>
<head>
    <title>补卡管理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/jquery-ui.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <style type="text/css">
        body {padding-bottom: 40px;}
        .w1{width:50%;margin:20px;border:none;}
        .w1 td{border:none;}
        .abc{width:160px;}
        input[type="text"].un-write{background:#C8C8C8;}
        .rt{border-bottom: 1px solid #eee;}
        a{text-decoration: none;}
        a:hover{color:#ff2222;text-decoration:underline;}
        .rt{border:1px solid #eee;}
        .btn-primary1{
            color: #ffffff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #006dcc;
            *background-color: #0044cc;
            background-repeat: repeat-x;
            border-color: #0044cc #0044cc #002a80;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }
    </style>
</head>
<body>
<div  class="dv">
<form name="form1" method="post" id="form1">
    <input type="hidden" name="is_read" value="0" id="is_read"/>
    <table class="table table-bordered table-hover m10" >
         <tr>
             <td style="width:200px;text-align:right;">卡号</td>
             <td><input type="text" class="abc input-default  un-write" name="cardno" readonly="true" id="cardno"/></td>
        </tr>
         <tr>
             <td style="text-align:right;">员工姓名</td>
             <td><input type="text" name="cuname" class="abc input-default un-write" readonly="true" id="cuname"/></td>
        </tr>
         <tr>
             <td style="text-align:right;">员工手机</td>
             <td><input type="text" name="linktel" class="abc input-default un-write" readonly="true" id="linktel"/></td>
        </tr>
        <tr>
            <td style="text-align:right;">卡余额</td><td><input type="text" class="abc input-default un-write" name="amount" readonly="true" id="amount"/></td>
        </tr>
        <tr>
        	<td colspan="2" style="text-align:left;padding-left:185px;">
        		<input type="button"  class="btn btn-mini btn-primary" value="员工离职"  id="btn"/>&nbsp;
        	</td>
        </tr>
    </table>
    </form>
    <form class="form-inline definewidth m20" action="" method="get">
    <input type="text" name="cardno" value='{$cardno}' style="width:165px; margin-right:7px;" placeholder="卡号"/>
    <input type="text" name="cuname" value='{$cuname}' style="width:70px; margin-right:7px;" placeholder="员工姓名"/>
    <input type="text" name="customid" value='{$linktel}' style="width:90px; margin-right:10px;" placeholder="员工"/>
    <button type="submit" class="btn btn-primary" id="sub">查询</button>
    <input type="button" value="清空" onclick="window.location='{:U("Qifeng/staffOff")}'" class="btn btn-danger" />
    </form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>选择</th>
        <th>卡号</th><th>会员编号</th><th>会员名称</th>
        <th>卡状态</th><th>卡余额</th><th>
    </tr>
    </thead>
    <volist name="info" id="vo" key="k">
        <tr>
            <td><input type="radio" name="sel_card" value="{$vo.cardno}"/></td>
            <td>{$vo.cardno}</td>
            <td>{$vo.linktel}</td>
            <td>{$vo.cuname}</td>
            <td><if condition="$vo.status eq 'Y'">正常 <else/>异常</if></td>
            <td>{$vo.amount}</td>
        </tr>
    </volist>
</table>
<div class="inline pull-right page"></div>
    </div>
<script type="text/javascript">
    function sleep(timeout) {
        window.showModalDialog("javascript:document.writeln('<script>window.setTimeout(function () { window.close(); }, " + timeout + ");<\/script>');");
    }
    $(function(){
        $('#btn').click(function(){
            var cardno= $.trim($('#cardno').val());
            var cuname=$.trim($('#cuname').val());
            var linktel=$.trim($('#linktel').val());
            var amount=$.trim($('#amount').val());
            if(cardno==''){
                alert('请选择离职卡');
                return false;
            }

            $.ajax({
                type:'POST',
                url:'{:U("Qifeng/off")}',
                data:{cardno:cardno,amount:amount},
                dataType:'json',
                success:function(res){
                    if(res.success==1){
                        $('#btn').removeClass('btn-primary').addClass('btn-primary1');
                        $('#btn').val('离职成功');
                        setTimeout(function () {  window.location.href='{:U("Qifeng/staffOff")}'; },2000);

                    }else{
                        alert(res.msg);
                    }
                }
            })
        });


        //
        $('#btn1').click(function(){
            var is_read= $.trim($('#is_read').val());
            if(is_read==0){
                alert('请先读取新卡');
                return false;
            }else if(is_read==2){
                alert('读卡失败，请换新卡号重试!');
                return false;
            }
            document.form1.submit();
        })
        $('input:radio[name="sel_card"]').change(function(){
            var cardno= $.trim($(this).val());
            $.ajax({
                type:'POST',
                url:'{:U("Qifeng/card_query")}',
                data:{cardno:cardno,style:3},
                dataType:'json',
                success:function(res){
                    if(res.success==1){
                        $('#cardno').val(res.data.cardno);
                        $('#customid').val(res.data.customid);
                        $('#cuname').val(res.data.cuname);
                        $('#linktel').val(res.data.linktel);
                        $('#amount').val(res.data.amount);
                    }else{
                        alert(res.msg);
                    }
                }
            })
        });
    })

</script>
</body>
</html>