<!DOCTYPE html>
<html>
<head>
<title>jQuery Easy UI</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="__PUBLIC__/Js/easyui/jquery.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/easyui/jquery.easyui.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Js/easyui/locale/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript" src="__PUBLIC__/hotel/index.js" ></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/easyui/demo/demo.css">

</head>
<body style="padding:6px;">
<table id="box">
</table>
<div style="visibility:hidden" id="__box">
    <div id="dialog_details" class="easyui-window" closed="true" title="详情" style="width:600px;height:460px;" data-options="shadow: true,modal: true,collapsible:false">
        <div class="easyui-panel"  style="padding:30px 60px;border:none;">
            <form id="detailsform" method="post">
                <div style="margin-bottom:5px">
                    &nbsp;&nbsp;&nbsp;卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input class="easyui-textbox"  style="width:82%;height:25px" id="cardnos" name="cardnos" disabled="disabled">
                </div>
                <div style="margin-bottom:5px">
                    &nbsp;&nbsp;&nbsp;会员名称：<input class="easyui-textbox" style="width:82%;height:25px" id="username" name="username" disabled="disabled">
                </div>
                <div style="margin-bottom:5px">
                    &nbsp;&nbsp;&nbsp;联系电话：<input class="easyui-textbox" style="width:82%;height:25px" id="phone" name="phone" disabled="disabled">
                </div>
                <div style="margin-bottom:5px">
                    &nbsp;&nbsp;&nbsp;商户名称：<input class="easyui-textbox" style="width:82%;height:25px" id="parentname" name="parentname" disabled="disabled">
                </div>
                <div style="margin-bottom:5px">
                    &nbsp;&nbsp;&nbsp;交易类型：<input class="easyui-textbox" style="width:82%;height:25px" id="type" name="type" disabled="disabled">
                </div>
                <div style="margin-bottom:5px">
                    &nbsp;&nbsp;&nbsp;交易时间：<input class="easyui-textbox" style="width:82%;height:25px" id="tradetime" name="tradetime" disabled="disabled">
                </div>
                <div style="margin-bottom:5px">
                    交易流水号：<input class="easyui-textbox" id="serialnumber" name="serialnumber" style="width:82%;height:25px" disabled="disabled">
                </div>
                <div style="margin-bottom:5px;display: none;" id="oraccountid">
                    原交易金额：<input class="easyui-textbox" id="ortradeaccount" name="ortradeaccount" style="width:380px;height:25px" disabled="disabled">
                </div>
                <div style="margin-bottom:5px;display: none;" id="accountid">
                    &nbsp;&nbsp;&nbsp;交易金额：<input class="easyui-textbox" id="tradeaccount" name="tradeaccount" style="width:380px;height:25px">
                </div>
                <div style="margin-bottom:5px;display: none;" id="oramountid">
                    &nbsp; &nbsp;原劵数量：<input class="easyui-textbox" id="ortradeamount" name="ortradeamount" style="width:380px;height:25px" disabled="disabled">
                </div>
                <div style="margin-bottom:5px;display: none;" id="amountid">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;劵数量：<input class="easyui-textbox" id="tradeamount" name="tradeamount" style="width:380px;height:25px">
                </div>
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width:20%;height:32px" onclick="saveMoney();">保存</a>
                </div>
                <input type="hidden" id="placeddate" name="placeddate">
                <input type="hidden" id="placedtime" name="placedtime">
                <input type="hidden" id="quanname" name="quanname">
            </form>
        </div>
    </div>
    <div id="dialog_cutmoney" class="easyui-window" closed="true" title="详情" style="width:450px;height:370px;" data-options="shadow: true,modal: true,collapsible:false">
        <div class="easyui-panel"  style="padding:30px 60px;border:none;">
            <form id="cutmoneyform" method="post">
                <div style="margin-bottom:5px">
                    受理酒店：<select class="easyui-combobox" name="panterids" id="panterids"  style="width:80%;height:25px">
                        <option value="0">请选择受理酒店</option>
                        <foreach name='parents' item="vo" key="k" >
                            <option value="{$k}"  <?php if($panterid==$k){ echo 'selected="selected"'; } ?> >{$vo}</option>
                        </foreach>
                    </select>
                </div>
                <div style="margin-bottom:5px">
                    扣款类型：<select class="easyui-combobox" name="cuttype" id="cuttype"  style="width:80%;height:25px">
                        <option value="01">请选择扣款类型</option>
                        <option value="00">余额消费</option>
                        <option value="02">劵消费</option>
                    </select>
                </div>
                <div style="margin-bottom:5px">
                    至尊卡号：<input class="easyui-textbox" style="width:80%;height:25px" name="cutcardno" id="cutcardno">
                </div>
                <div id="quan" style="margin-bottom:5px;display:none;">
                    &nbsp;&nbsp;&nbsp;劵类型：<select  name="quanid" id="quanid" style="width:250px;height:25px"></select>
                </div>
                <div id="amount1" style="margin-bottom:5px;display:none;">
                    扣款金额：<input class="easyui-textbox" style="width:250px;height:25px" name="cutmoney" id="cutmoney">
                </div>
                <div id="amount2" style="margin-bottom:5px;display:none;">
                    扣款数量：<input class="easyui-textbox" style="width:250px;height:25px" name="cutnumber" id="cutnumber">
                </div>
                <div style="margin-bottom:5px">
                    扣款日期：<input class="easyui-datetimebox" style="width:80%;height:25px" name="cutdate" id="cutdate" >
                </div>
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width:20%;height:32px" onclick="saveCutMoney();">保存</a>
                </div>
                <input type="hidden" id="panteridid" name="panteridid" value="{$panterid}">
            </form>
        </div>
    </div>
	<div id="tb" style="padding:4px;height:auto;display: none;">
        <div style="padding:4px">
            交易时间：<input  name="start" class="easyui-datebox" style="width:140px;" value="<?php echo date('Y-m-01',time());?>">
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;至：<input  name="end" class="easyui-datebox" style="width:140px;">
        </div>
  	    <div style="padding:4px">
  	        商户编号：<input  name="panterid" class="easyui-textbox" style="width:140px;">
  	        &nbsp;&nbsp;&nbsp;&nbsp;商户名称：<input  name="pname" class="easyui-textbox" style="width:140px;">
  	    </div>
  	    <div style="padding:4px">
  	        会员名称：<input  name="cuname" class="easyui-textbox" style="width:140px;">
  	         &nbsp;&nbsp;&nbsp;&nbsp;会员电话：<input  name="linktel" class="easyui-textbox" style="width:140px;">
  	    </div>
  	    <div style="padding:4px">
  	        交易类型：<select  class="easyui-combobox" style="width:140px;" name='tradetype' id='tradetype'>
                <option value="">交易类型</option>
                <foreach name='tradetype' item="vo" key="k" >
                  	<option value="{$k}">{$vo}</option>
                </foreach>
            </select>    	       
  	 	</div>
        <if condition="$is_admin eq 1">
  	 	<div style="padding:4px">
           所属机构：<select  class="easyui-combobox" style="width:140px;" name='parents' id='aaa'>
                <option value="">请选择酒店</option>
                <foreach name='parents' item="vo" key="k" >
                  	<option value="{$k}">{$vo}</option>
                </foreach>
            </select>
     	</div>
		<else/>
		<div style="display:none;">
           所属机构：<select  class="easyui-combobox" style="width:140px;" name='parents' id='aaa'>
                <option value="">请选择酒店</option>
            </select>
     	</div>
        </if>
      	<div style="padding:4px">
            异地消费：<label style="width:140px"><input  name='yidi' id='yidi' type="checkbox" value='1'></label>
            &nbsp; &nbsp; &nbsp;
            非酒店卡消费：<label style="width:140px"><input  name='dw' id='dw' type="checkbox" value='1'></label>
     	</div>
  	 	<div style="padding:4px">
  	 		至尊卡号：<input  name="cardno" class="easyui-textbox" style="width:140px;">
  	 		<span style="margin-left:300px;">
  	            <a href="#" class="easyui-linkbutton" iconCls="icon-search"  onclick="obj.search();">查询</a>
                <?php
                  if(!empty($_SESSION['_ACCESS_LIST']['HOME']['HOTELS']['SAVEDETAILS'])||$_SESSION['username']=='admin'){
                      echo '<a href="#" class="easyui-linkbutton" iconCls="icon-edit"  onclick="editInfo();">修改</a>';
                         echo '<a href="#" class="easyui-linkbutton" iconCls="icon-cancel"  onclick="cancelRecord();">撤销</a>';
                         echo '<a href="#" class="easyui-linkbutton" iconCls="icon-add"  onclick="cutMoney();">扣款</a>';
                    }
                ?>
  	            <a href="{:U('Hotels/newConsume_excel')}" target="_blank" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" >导出</a>
  	        </span>   
  	    </div>
	</div>
</div>
<script type="text/javascript">
    $(function(){
        $('#yidi').click(function(){
            var v=$(this).val();
            if(v==1){
                $('#dw').attr('checked',false);
            }
        });
        $('#dw').click(function(){
            var v=$(this).val();
            if(v==1){
                $('#yidi').attr('checked',false);
            }
        });
        //扣款类型改变
        $('#cuttype').combobox({
            onChange:function(){
                var cardno= $.trim($('#cutcardno').textbox("getValue"));
                if($("#cuttype").combobox("getValue")=='00'){
                    $('#amount1').show();$('#amount2').hide();
                    $('#quan').hide();$('#quanid').html('');
                }else if($("#cuttype").combobox("getValue")=='02'){
                    $('#amount2').show();$('#amount1').hide();
                    if(cardno!=null){
                        getQuanBycardno(cardno);
                    }else{
                        $('#quan').hide();$('#quanid').html('');
                    }
                }else{
                    $('#amount1').hide();$('#amount2').hide();
                    $('#quan').hide();$('#quanid').html('');
                }
            }
        });
        //输入卡号判断该卡号是否是该酒店的卡
        $("input",$("#cutcardno").next("span")).blur(function(){
            var cardno= $.trim($('#cutcardno').textbox("getValue"));
            var cate= $('#cuttype').combobox("getValue");
            if(cate!=02){
                $('#quan').hide();
                return;
            }
            getCards(cardno);
            if(cate=='02'){
                getQuanBycardno(cardno);
            }
        })
    })

    //修改交易金额
    function editInfo(){
        var rows = $('#box').datagrid('getSelected');
        if(rows.length==0){
            return false;
        }
        var auditstatus=$.trim(rows.auditstatus);
        if((rows.tradetype=="至尊卡消费"||rows.tradetype=="劵消费")&&(auditstatus==""||auditstatus=="审核驳回"||auditstatus=="null"||auditstatus=="undefined")){
            $("#dialog_details").window("open");
            $("#cardnos").textbox("setValue",rows.cardno);
            $("#username").textbox("setValue",rows.cuname);
            $("#phone").textbox("setValue",rows.linktel);
            $("#parentname").textbox("setValue",rows.pname);
            $("#type").textbox("setValue",rows.tradetype);
            if(rows.tradetype=="劵消费"){
                $("#oramountid").show();
                $("#amountid").show();
                $("#oraccountid").hide();
                $("#accountid").hide();
                $("#quanname").val(rows.quanname);
                $("#ortradeamount").textbox("setValue",rows.tradeamount);
            }else{
                $("#oraccountid").show();
                $("#accountid").show();
                $("#oramountid").hide();
                $("#amountid").hide();
                $("#ortradeaccount").textbox("setValue",rows.tradeamount);
            }
            $("#tradetime").textbox("setValue",rows.tradetime);
            $("#serialnumber").textbox("setValue",rows.tradeid);
            $("#placeddate").val(rows.placeddate);
            $("#placedtime").val(rows.placedtime);
        }else{
            alert("修改操作需在交易类型为至尊卡消费或者劵消费且审核状态为未审核或审核驳回的前提下！");
        }
    }

    //保存修改金额或者劵数量信息
    function saveMoney(){
        var o={};
        o.cardno=$("#cardnos").textbox("getValue");
        o.username=$("#username").textbox("getValue");
        o.linktel=$("#phone").textbox("getValue");
        o.namechinese=$("#parentname").textbox("getValue");
        o.tradetype=$("#type").textbox("getValue");
        if(o.tradetype=='劵消费'){
            o.quanname=$("#quanname").val();
            o.tradeamount=$("#tradeamount").textbox("getValue");
        }else if(o.tradetype=='至尊卡消费'){
            o.tradeamount=$("#tradeaccount").textbox("getValue");
        }
        o.tradetime=$("#tradetime").textbox("getValue");
        o.tradeid=$("#serialnumber").textbox("getValue");
        o.originaltradeamount=$("#ortradeaccount").textbox("getValue");

        o.placeddate=$("#placeddate").val();
        o.placedtime=$("#placedtime").val();
        if(o.tradetype=='劵消费'){
            if($("#tradeamount").textbox("getValue")==''){
                alert("请填写劵数量！");
                return false;
            }
        }else if(o.tradetype=='至尊卡消费'){
            if($("#tradeaccount").textbox("getValue")==''){
                alert("请填写交易金额！");
                return false;
            }
        }

        $.ajax({
            type: "post",
            url:'{:U("Hotels/saveDetails")}',
            data: o,
            dataType: 'json',
            success: function (data) {
                if(data.status==1){
                    alert(data.msg);
                    $("#dialog_details").window("close");
                    $("#box").datagrid("reload");
                }else{
                    alert(data.msg);
                }
            }
        })
    }

    //撤销
    function cancelRecord(){
        var o = {};
        o.tradeid = [];
        var rows = $('#box').datagrid('getSelections');
        if(rows.length==0){
            return false;
        }
        var type='',errMsg = '';
        for(var i = 0 in rows){
            if(type == ''){
                type = rows[i].tradetype;
            }else{
                if(type != rows[i].tradetype){
                    errMsg ='当前记录中包含不同的交易类型';
                    break;
                }
            }
            var auditstatus=$.trim(rows[i].auditstatus);
            if(rows[i].tradetype=='至尊卡消费'&&(auditstatus==''||auditstatus=='null'||auditstatus=='undefined')){
                var tradeids=$.trim(rows[i].tradeid);
                o.tradeid.push(tradeids);
            }else{
                errMsg ='当前记录中包含不可申请批次的项目\r\n申请批次操作必须在交易类型为至尊卡消费且审核状态为空的前提下才可进行操作';
                break;
            }

           var confirm_msg = '您确定要对选中的记录进行撤销操作吗?';
        }
        if(o.tradeid.length==0 || errMsg != ''){
            alert(errMsg);
            return false;
        }
        if(confirm(confirm_msg)){
            $.ajax({
                type: 'post',
                url:"cancelRecords",
                data:o,
                success: function(data) {
                    alert(data.msg);
                    if(data.status==1){
                        $("#box").datagrid("reload");
                    }
                }
            })
        }
    }

    //扣款
    function cutMoney(){
        $("#dialog_cutmoney").window("open");
    }

    //通过卡号判断该卡是否是该受理酒店的卡
    function getCards(cardno){
        $.ajax({
            type:'POST',
            data:{cardno:cardno},
            dataType:'json',
            url:'getCards',
            success:function(data){
                if(data.status==0){
                    alert(data.msg);
                    return false;
                }
            }
        });
    }

    //通过卡号获取券相关信息
    function getQuanBycardno(cardno){
        $.ajax({
            type:'POST',
            data:{cardno:cardno},
            dataType:'json',
            url:'getQuanByCardno',
            success:function(res){
                if(res.status==1){
                    $('#quanid').html(res.html);
                    $("#quanid").combobox({});
                }else{
                    alert(res.msg);
                }
                $('#quan').show();
            }
        })
    }

    //保存扣款信息
    function saveCutMoney(){
        var o={};
        o.panterid=$("#panterids").combobox("getValue");
        o.tradetype=$("#cuttype").combobox("getValue");
        o.cardno=$("#cutcardno").textbox("getValue");
        if(o.tradetype=='00'){
            o.amount=$("#cutmoney").textbox("getValue");
        }else if(o.tradetype=='02'){
            o.amount=$("#cutnumber").textbox("getValue");
            o.quanid=$("#quanid").combobox("getValue");
        }
        o.tradedate=$("#cutdate").datebox("getValue");
        var panterid=$("#panteridid").val();
        if(panterid!=o.panterid){
            alert("没有权限扣除其他酒店的款项！");
            return false;
        }
        if($("#cuttype").combobox("getValue")=='01'){
            alert("请选择扣款类型！");
            return false;
        }
        if($("#cutcardno").textbox("getValue")==''){
            alert("请填写至尊卡号！");
            return false;
        }
        if(o.tradetype=='00'){
            if($("#cutmoney").textbox("getValue")==''){
                alert("请填写扣款金额！");
                return false;
            }
        }else{
            if($("#quanid").textbox("getValue")==''){
                alert("请选择劵类型！");
                return false;
            }
            if($("#cutnumber").textbox("getValue")==''){
                alert("请填写扣款数量！");
                return false;
            }
        }

        if($("#cutdate").datebox("getValue")==''){
            alert("请选择扣款日期！");
            return false;
        }
        $.ajax({
            type: "post",
            url:'{:U("Hotels/saveCutDetails")}',
            data: o,
            dataType: 'json',
            success: function (data) {
                if(data.status==1){
                    alert(data.msg);
                    $("#dialog_cutmoney").window("close");
                    $("#box").datagrid("reload");
                }else{
                    alert(data.msg);
                }
            }
        })
    }
</script>
</body>
</html>
